Repository rust-lang/cargo, pull requests merged in 2023-03, with the labels that each got.

#11785 Fix help string for "--charset" option of "cargo tree"
  src/bin/cargo/commands/tree.rs
Labels: S-waiting-on-bors, A-cli, Command-tree

#11738 feat: Use test name for dir when running tests
  crates/cargo-test-macro/src/lib.rs
  crates/cargo-test-support/src/paths.rs
  src/doc/contrib/src/tests/writing.md
  tests/testsuite/main.rs
Labels: A-documenting-cargo-itself, A-testing-cargo-itself, S-waiting-on-bors

#11688 feat(resolver): `-Zdirect-minimal-versions`
  crates/resolver-tests/tests/resolve.rs
  src/cargo/core/features.rs
  src/cargo/core/resolver/dep_cache.rs
  src/cargo/core/resolver/mod.rs
  src/cargo/core/resolver/version_prefs.rs
  src/doc/src/reference/unstable.md
  tests/testsuite/direct_minimal_versions.rs
  tests/testsuite/main.rs
Labels: A-documenting-cargo-itself, A-dependency-resolution, S-waiting-on-bors, A-unstable

#11783 Improve error for missing crate in --offline mode for sparse index
  src/cargo/sources/registry/http_remote.rs
  tests/testsuite/generate_lockfile.rs
  tests/testsuite/offline.rs
Labels: A-registries, S-waiting-on-bors, A-sparse-registry

#11630 fix(toml): Provide a way to show unused manifest keys for dependencies
  src/cargo/core/dependency.rs
  src/cargo/util/toml/mod.rs
  src/cargo/util/toml_mut/manifest.rs
  tests/testsuite/check.rs
  tests/testsuite/inheritable_workspace_fields.rs
  tests/testsuite/metadata.rs
Labels: A-crate-dependencies, A-manifest, S-waiting-on-bors

#11448 gitoxide integration: fetch
  .github/workflows/main.yml
  Cargo.toml
  crates/cargo-test-support/src/git.rs
  src/cargo/core/features.rs
  src/cargo/ops/mod.rs
  src/cargo/ops/registry.rs
  src/cargo/sources/git/mod.rs
  src/cargo/sources/git/oxide.rs
  src/cargo/sources/git/utils.rs
  src/cargo/util/network.rs
  src/doc/contrib/src/tests/running.md
  src/doc/src/reference/unstable.md
  tests/testsuite/bad_config.rs
  tests/testsuite/git.rs
  tests/testsuite/git_auth.rs
  tests/testsuite/git_gc.rs
  tests/testsuite/ssh.rs
Labels: A-documenting-cargo-itself, A-git, Command-clean, A-interacts-with-crates.io, A-testing-cargo-itself, A-networking, S-waiting-on-bors, A-unstable

#11793 Some cleanup for unstable docs
  src/doc/src/reference/unstable.md
Labels: A-documenting-cargo-itself, S-waiting-on-bors

#11761 chore(ci): Enforce cargo-deny in CI
  .github/workflows/audit.yml
  deny.toml
Labels: T-cargo, final-comment-period, S-waiting-on-bors

#11794 Fix some doc typos
  src/doc/man/cargo-rustc.md
  src/doc/man/generated_txt/cargo-rustc.txt
  src/doc/src/commands/cargo-rustc.md
  src/doc/src/reference/config.md
  src/doc/src/reference/registry-index.md
  src/etc/man/cargo-rustc.1
Labels: A-documenting-cargo-itself, S-waiting-on-bors, A-cli-help

#11796 chore: Update base64
  Cargo.toml
  src/cargo/sources/git/known_hosts.rs
Labels: A-git, S-waiting-on-bors

#11797 chore: fix missing files in autolabel trigger_files
  triagebot.toml
Labels: S-waiting-on-bors

#11799 Check publish_to_alt_registry publish content
  tests/testsuite/alt_registry.rs
Labels: S-waiting-on-bors

#11800 gitoxide progress bar fixes
  Cargo.toml
  src/cargo/sources/git/oxide.rs
Labels: A-git, S-waiting-on-bors

#11791 Make `sparse` the default protocol for crates.io
  src/cargo/core/features.rs
  src/cargo/core/source/source_id.rs
  src/doc/src/reference/config.md
  tests/testsuite/registry.rs
  tests/testsuite/rustdoc_extern_html.rs
  tests/testsuite/vendor.rs
Labels: S-waiting-on-bors, A-sparse-registry

#11798 Enhance the doc of timing report with graphs
  src/doc/src/images/build-info.png
  src/doc/src/images/build-unit-time.png
  src/doc/src/images/cargo-concurrency-over-time.png
  src/doc/src/reference/timings.md
Labels: A-documenting-cargo-itself, S-waiting-on-bors

#11805 Breaking endless loop on cyclic features in added dependency in cargo-add
  src/cargo/ops/cargo_add/mod.rs
  tests/testsuite/cargo_add/cyclic_features/in
  tests/testsuite/cargo_add/cyclic_features/mod.rs
  tests/testsuite/cargo_add/cyclic_features/out/Cargo.toml
  tests/testsuite/cargo_add/cyclic_features/stderr.log
  tests/testsuite/cargo_add/cyclic_features/stdout.log
  tests/testsuite/cargo_add/mod.rs
Labels: S-waiting-on-bors, Command-add

#11790 Fix `CARGO_CFG_` vars for configs defined both with and without value
  src/cargo/core/compiler/custom_build.rs
  tests/testsuite/build_script_env.rs
Labels: A-build-scripts, S-waiting-on-bors

#11636 Adding display of which target failed to compile
  src/cargo/core/compiler/job_queue/mod.rs
  src/cargo/core/compiler/mod.rs
  tests/testsuite/build.rs
  tests/testsuite/build_script.rs
  tests/testsuite/check.rs
  tests/testsuite/fix.rs
  tests/testsuite/install.rs
  tests/testsuite/messages.rs
Labels: A-build-execution, S-waiting-on-bors

#11807 path dependency: fix cargo-util version
  Cargo.toml
Labels: S-waiting-on-bors

#11645 Add `CARGO_PKG_README`
  src/cargo/core/compiler/compilation.rs
  src/doc/src/reference/environment-variables.md
  tests/testsuite/build.rs
Labels: A-documenting-cargo-itself, A-build-execution, T-cargo, final-comment-period, S-waiting-on-bors

#11812 Revert "#11738" - Use test name for dir when running tests
  crates/cargo-test-macro/src/lib.rs
  crates/cargo-test-support/src/paths.rs
  src/doc/contrib/src/tests/writing.md
  tests/testsuite/main.rs
Labels: A-documenting-cargo-itself, A-testing-cargo-itself, S-waiting-on-bors

#11817 Fix semver check for 1.68
  src/doc/src/reference/semver.md
Labels: A-documenting-cargo-itself, S-waiting-on-bors

#11815 Bump to 0.71.0; update changelog
  CHANGELOG.md
  Cargo.toml
Labels: S-waiting-on-bors

#11820 Bump crates-io to 0.36.0
  Cargo.toml
  crates/crates-io/Cargo.toml
Labels: A-interacts-with-crates.io, S-waiting-on-bors, beta-nominated

#11822 Add tracking issue to gitoxide unstable docs
  src/doc/src/reference/unstable.md
Labels: A-documenting-cargo-itself, S-waiting-on-bors

#11823 [beta-1.69] backport #11820
  Cargo.toml
  crates/crates-io/Cargo.toml
  src/doc/src/reference/semver.md
Labels: A-documenting-cargo-itself, A-interacts-with-crates.io, S-waiting-on-bors

#11826 Notice for potential unexpected shell expansions in help text of `cargo-add`
  src/doc/man/cargo-add.md
  src/doc/man/cargo-remove.md
  src/doc/man/generated_txt/cargo-add.txt
  src/doc/man/generated_txt/cargo-remove.txt
  src/doc/src/commands/cargo-add.md
  src/doc/src/commands/cargo-remove.md
  src/etc/man/cargo-add.1
  src/etc/man/cargo-remove.1
Labels: A-documenting-cargo-itself, S-waiting-on-bors, A-cli-help

#11829 chore: Use sparse protocol on stable CI
  .github/workflows/main.yml
Labels: S-waiting-on-bors

#11825 Add some documentation on writing cross-compilation tests
  src/doc/contrib/src/tests/writing.md
Labels: A-documenting-cargo-itself, S-waiting-on-bors

#11830 Disable flaky auth tests when `gitoxide` runs them
  tests/testsuite/git_auth.rs
Labels: S-waiting-on-bors

#11835 `cargo install --git` multiple packages with binaries found hint
  src/cargo/ops/common_for_install_and_uninstall.rs
  tests/testsuite/install.rs
Labels: S-waiting-on-bors

#11842 docs(contrib): Move Design Principles earlier in the book
  src/doc/contrib/src/SUMMARY.md
Labels: A-documenting-cargo-itself, S-waiting-on-bors

#11839 Accurately show status when downgrading dependencies
  crates/cargo-test-support/src/compare.rs
  src/cargo/ops/cargo_generate_lockfile.rs
  tests/testsuite/offline.rs
  tests/testsuite/update.rs
Labels: Command-generate-lockfile, T-cargo, A-testing-cargo-itself, final-comment-period, disposition-merge, S-waiting-on-bors

#11848 ci: make clean-test-output a script for reuse
  .github/workflows/main.yml
  ci/clean-test-output.sh
Labels: S-waiting-on-bors

#11850 docs(contrib): Create a file overview in the nightly docs
  src/cargo/core/compiler/mod.rs
  src/cargo/core/resolver/mod.rs
  src/cargo/lib.rs
  src/doc/contrib/src/architecture/files.md
Labels: A-documenting-cargo-itself, A-build-execution, A-dependency-resolution, S-waiting-on-bors

#11856 docs: Address warnings
  crates/cargo-test-support/src/registry.rs
Labels: A-testing-cargo-itself, S-waiting-on-bors

#11713 Add more information to wait-for-publish
  crates/cargo-test-support/src/compare.rs
  crates/cargo-test-support/src/publish.rs
  crates/cargo-test-support/src/registry.rs
  src/cargo/core/source/mod.rs
  src/cargo/ops/registry.rs
  src/cargo/sources/directory.rs
  src/cargo/sources/git/source.rs
  src/cargo/sources/path.rs
  src/cargo/sources/registry/http_remote.rs
  src/cargo/sources/registry/local.rs
  src/cargo/sources/registry/mod.rs
  src/cargo/sources/registry/remote.rs
  src/cargo/sources/replaced.rs
  src/cargo/util/progress.rs
  tests/testsuite/alt_registry.rs
  tests/testsuite/artifact_dep.rs
  tests/testsuite/cargo_features.rs
  tests/testsuite/credential_process.rs
  tests/testsuite/cross_publish.rs
  tests/testsuite/features_namespaced.rs
  tests/testsuite/inheritable_workspace_fields.rs
  tests/testsuite/publish.rs
  tests/testsuite/source_replacement.rs
  tests/testsuite/weak_dep_features.rs
Labels: A-git, A-overrides, A-interacts-with-crates.io, A-registries, A-console-output, A-source-replacement, A-testing-cargo-itself, S-waiting-on-bors, A-directory-source, A-local-registry-source, A-sparse-registry

#11855 align semantics of generated vcs ignore files
  src/cargo/ops/cargo_new.rs
  tests/testsuite/init/mercurial_autodetect/out/.hgignore
  tests/testsuite/init/simple_hg/out/.hgignore
  tests/testsuite/init/simple_hg_ignore_exists/out/.hgignore
  tests/testsuite/new.rs
Labels: Command-new, S-waiting-on-bors

#11824 Handle case mismatches when looking up env vars in the Config snapshot
  src/cargo/util/config/de.rs
  src/cargo/util/config/environment.rs
  src/cargo/util/config/mod.rs
  tests/testsuite/cargo_command.rs
  tests/testsuite/config.rs
Labels: A-configuration, S-waiting-on-bors, beta-nominated

#11859 Add --ignore-rust-version flag to cargo install
  src/bin/cargo/commands/install.rs
  src/doc/man/cargo-install.md
  src/doc/man/generated_txt/cargo-install.txt
  src/doc/src/commands/cargo-install.md
  src/etc/_cargo
  src/etc/cargo.bashcomp.sh
  src/etc/man/cargo-install.1
Labels: A-documenting-cargo-itself, Command-install, S-waiting-on-bors, A-completions, A-cli, A-cli-help

#11863 [beta-1.69] backport #11824
  src/cargo/util/config/de.rs
  src/cargo/util/config/environment.rs
  src/cargo/util/config/mod.rs
  tests/testsuite/cargo_command.rs
  tests/testsuite/config.rs
Labels: A-configuration, S-waiting-on-bors

#11828 clippy: warn `disallowed_methods` for `std::env::var` and friends
  build.rs
  clippy.toml
  src/bin/cargo/cli.rs
  src/bin/cargo/main.rs
  src/cargo/core/compiler/custom_build.rs
  src/cargo/core/compiler/fingerprint/mod.rs
  src/cargo/core/features.rs
  src/cargo/core/resolver/types.rs
  src/cargo/core/shell.rs
  src/cargo/core/source/source_id.rs
  src/cargo/lib.rs
  src/cargo/ops/fix.rs
  src/cargo/util/config/environment.rs
  src/cargo/util/job.rs
  src/cargo/util/profile.rs
Labels: A-configuration, A-rebuild-detection, A-build-scripts, A-dependency-resolution, T-cargo, A-console-output, Command-fix, S-waiting-on-bors, A-cli, A-unstable

#11624 Poll loop fixes
  crates/cargo-util/src/read2.rs
Labels: S-waiting-on-bors

#11871 Update curl-sys
  Cargo.toml
Labels: S-waiting-on-bors

#11870 docs(contrib): Move higher level resolver docs into doc comments
  src/cargo/core/resolver/mod.rs
  src/cargo/lib.rs
  src/cargo/ops/mod.rs
  src/cargo/ops/resolve.rs
  src/doc/contrib/src/architecture/packages.md
Labels: A-documenting-cargo-itself, A-dependency-resolution, S-waiting-on-bors

#11873 docs(contrub): Remove unused file
  src/doc/contrib/src/architecture/filesystem.md
Labels: A-documenting-cargo-itself, S-waiting-on-bors

#11874 docs: fix typos in `cargo_compile/mod.rs`
  src/cargo/ops/cargo_compile/mod.rs
Labels: S-waiting-on-bors

#11876 docs(contrib): Replace architecture with redirects
  src/doc/contrib/book.toml
  src/doc/contrib/src/SUMMARY.md
  src/doc/contrib/src/architecture/codebase.md
  src/doc/contrib/src/architecture/compilation.md
  src/doc/contrib/src/architecture/files.md
  src/doc/contrib/src/architecture/index.md
  src/doc/contrib/src/architecture/packages.md
Labels: A-documenting-cargo-itself, S-waiting-on-bors

#11880 doc: Fix registries.name.index for sparse
  src/doc/src/reference/config.md
Labels: A-documenting-cargo-itself, S-waiting-on-bors

#11883 Added new GitHub RSA Host Key
  src/cargo/sources/git/known_hosts.rs
Labels: A-git, S-waiting-on-bors, beta-nominated

#11886 Update proptest
  crates/resolver-tests/Cargo.toml
Labels: A-dependency-resolution, S-waiting-on-bors

#11889 Add the old github keys as revoked
  src/cargo/sources/git/known_hosts.rs
Labels: A-git, S-waiting-on-bors

#11892 [beta] Backport GitHub RSA key revocation
  src/cargo/sources/git/known_hosts.rs
Labels: A-git, S-waiting-on-bors

#11891 [stable] Backport GitHub RSA key revocation
  Cargo.toml
  src/cargo/sources/git/known_hosts.rs
  src/doc/src/reference/semver.md
Labels: A-documenting-cargo-itself, A-git, S-waiting-on-bors

#11893 Update changelog for 1.68.2
  CHANGELOG.md
Labels: S-waiting-on-bors

#11894 doc(contrib): missing quotation mark
  src/doc/contrib/src/process/release.md
Labels: A-documenting-cargo-itself, S-waiting-on-bors

#11904 chore: Upgrade to clap v4.2
  Cargo.toml
  tests/testsuite/cargo_add/invalid_arg/stderr.log
  tests/testsuite/cargo_remove/invalid_arg/stderr.log
  tests/testsuite/init/unknown_flags/stderr.log
  tests/testsuite/run.rs
Labels: S-waiting-on-bors

#11903 docs(contrib): Link to office hours doc
  src/doc/contrib/src/process/index.md
Labels: A-documenting-cargo-itself, S-waiting-on-bors

#11901 Documented working directory behaviour for `cargo test`, `cargo bench` and `cargo run`
  src/cargo/ops/cargo_run.rs
  src/doc/man/cargo-bench.md
  src/doc/man/cargo-run.md
  src/doc/man/cargo-test.md
  src/doc/man/generated_txt/cargo-bench.txt
  src/doc/man/generated_txt/cargo-run.txt
  src/doc/man/generated_txt/cargo-test.txt
  src/doc/src/commands/cargo-bench.md
  src/doc/src/commands/cargo-run.md
  src/doc/src/commands/cargo-test.md
  src/etc/man/cargo-bench.1
  src/etc/man/cargo-run.1
  src/etc/man/cargo-test.1
Labels: A-documenting-cargo-itself, Command-run, S-waiting-on-bors, A-cli-help

#11908 src/doc/src/reference/build-scripts.md: a{n =>} benchmark target
  src/doc/src/reference/build-scripts.md
Labels: A-documenting-cargo-itself, S-waiting-on-bors

#11916 Disable test_profile test on windows-gnu
  tests/testsuite/lto.rs
Labels: S-waiting-on-bors

#11919 Add a note to `cargo logout` that it does not revoke the token.
  src/cargo/ops/registry.rs
  tests/testsuite/credential_process.rs
  tests/testsuite/logout.rs
Labels: A-interacts-with-crates.io, S-waiting-on-bors
