Repository rust-lang/cargo, pull requests merged in 2023-09, with the labels that each got.

#12595 doc: adjust all doc headings one level up
  src/doc/src/appendix/glossary.md
  src/doc/src/faq.md
  src/doc/src/getting-started/first-steps.md
  src/doc/src/getting-started/index.md
  src/doc/src/getting-started/installation.md
  src/doc/src/guide/build-cache.md
  src/doc/src/guide/cargo-home.md
  src/doc/src/guide/cargo-toml-vs-cargo-lock.md
  src/doc/src/guide/continuous-integration.md
  src/doc/src/guide/creating-a-new-project.md
  src/doc/src/guide/dependencies.md
  src/doc/src/guide/index.md
  src/doc/src/guide/project-layout.md
  src/doc/src/guide/tests.md
  src/doc/src/guide/why-cargo-exists.md
  src/doc/src/guide/working-on-an-existing-project.md
  src/doc/src/index.md
  src/doc/src/reference/build-script-examples.md
  src/doc/src/reference/build-scripts.md
  src/doc/src/reference/cargo-targets.md
  src/doc/src/reference/config.md
  src/doc/src/reference/environment-variables.md
  src/doc/src/reference/external-tools.md
  src/doc/src/reference/features-examples.md
  src/doc/src/reference/features.md
  src/doc/src/reference/future-incompat-report.md
  src/doc/src/reference/index.md
  src/doc/src/reference/manifest.md
  src/doc/src/reference/overriding-dependencies.md
  src/doc/src/reference/pkgid-spec.md
  src/doc/src/reference/profiles.md
  src/doc/src/reference/publishing.md
  src/doc/src/reference/registries.md
  src/doc/src/reference/registry-index.md
  src/doc/src/reference/registry-web-api.md
  src/doc/src/reference/running-a-registry.md
  src/doc/src/reference/source-replacement.md
  src/doc/src/reference/specifying-dependencies.md
  src/doc/src/reference/timings.md
  src/doc/src/reference/unstable.md
  src/doc/src/reference/workspaces.md
Labels: A-documenting-cargo-itself, S-waiting-on-bors

#12616 stop using lazy_static
  Cargo.lock
  Cargo.toml
  crates/cargo-test-support/Cargo.toml
  crates/cargo-test-support/src/lib.rs
  crates/resolver-tests/Cargo.toml
  crates/resolver-tests/src/lib.rs
Labels: A-dependency-resolution, A-testing-cargo-itself, S-waiting-on-bors

#12615 use split_once for cleaner code
  crates/mdman/src/main.rs
  src/cargo/core/compiler/custom_build.rs
  src/cargo/core/compiler/mod.rs
  src/cargo/core/package_id_spec.rs
  src/cargo/core/source/source_id.rs
  src/cargo/sources/registry/index.rs
Labels: A-build-execution, A-build-scripts, A-registries, S-waiting-on-bors, A-cli-help

#12618 test: new options of debuginfo are no longer unstable
  tests/testsuite/profiles.rs
Labels: S-waiting-on-bors

#12619 Update registry-web-api.md yank/unyank comments
  src/doc/src/reference/registry-web-api.md
Labels: A-documenting-cargo-itself, S-waiting-on-bors

#12622 cargo-credential: change serialization of cache expiration
  Cargo.lock
  Cargo.toml
  credential/cargo-credential/Cargo.toml
  credential/cargo-credential/README.md
  credential/cargo-credential/src/lib.rs
  src/cargo/util/auth/mod.rs
  src/doc/src/reference/unstable.md
  tests/testsuite/credential_process.rs
Labels: A-documenting-cargo-itself, S-waiting-on-bors, A-registry-authentication

#12602 fix(resolver): Make resolver behavior independent of package order
  src/cargo/ops/resolve.rs
  tests/testsuite/update.rs
Labels: S-waiting-on-bors

#12623 Add MSRV validation GitHub Action for cargo-credential
  .github/workflows/main.yml
  credential/cargo-credential/Cargo.toml
Labels: S-waiting-on-bors, A-registry-authentication, A-infrastructure

#12624 Skip clean up `profile.release.package."*"`
  src/bin/cargo/commands/remove.rs
  tests/testsuite/cargo_remove/mod.rs
  tests/testsuite/cargo_remove/skip_gc_glob_profile/in/Cargo.toml
  tests/testsuite/cargo_remove/skip_gc_glob_profile/in/src/lib.rs
  tests/testsuite/cargo_remove/skip_gc_glob_profile/mod.rs
  tests/testsuite/cargo_remove/skip_gc_glob_profile/out/Cargo.toml
  tests/testsuite/cargo_remove/skip_gc_glob_profile/stderr.log
  tests/testsuite/cargo_remove/skip_gc_glob_profile/stdout.log
Labels: S-waiting-on-bors, A-cli, Command-remove

#12626 fix: improve warning for both token & credential-provider
  src/cargo/util/auth/mod.rs
  tests/testsuite/credential_process.rs
Labels: S-waiting-on-bors, A-registry-authentication

#12630 docs(guide): Apply feedback on CI
  src/doc/src/guide/continuous-integration.md
Labels: A-documenting-cargo-itself, S-waiting-on-bors

#12629 Read/write the encoded `cargo update --precise` in the same place
  src/cargo/core/source/source_id.rs
  src/cargo/ops/cargo_generate_lockfile.rs
  src/cargo/sources/registry/index.rs
Labels: Command-generate-lockfile, A-registries, S-waiting-on-bors

#12635 Add with_stdout_unordered.
  crates/cargo-test-support/src/lib.rs
Labels: A-testing-cargo-itself, S-waiting-on-bors

#12636 Add wrappers around std::fs::metadata
  crates/cargo-util/src/paths.rs
Labels: S-waiting-on-bors

#12637 Error out if `cargo clean --doc` is mixed with `-p`.
  src/cargo/ops/cargo_clean.rs
  tests/testsuite/clean.rs
Labels: Command-clean, S-waiting-on-bors

#12641 Bump cargo-credential-1password to v0.4.0
  Cargo.lock
  credential/cargo-credential-1password/Cargo.toml
Labels: S-waiting-on-bors, A-registry-authentication

#12631 Ues strip_prefix for cleaner code
  Cargo.lock
  crates/cargo-platform/Cargo.toml
  crates/cargo-platform/examples/matches.rs
  crates/cargo-platform/src/lib.rs
  crates/cargo-test-support/src/publish.rs
  src/bin/cargo/main.rs
  src/cargo/core/resolver/encode.rs
  src/cargo/util/config/de.rs
  src/cargo/util/rustc.rs
  tests/testsuite/install.rs
  tests/testsuite/lto.rs
  tests/testsuite/ssh.rs
Labels: A-dependency-resolution, A-testing-cargo-itself, S-waiting-on-bors, A-cli, A-lockfile, A-cache-messages, A-cfg-expr

#12648 feat: Stabilize lints
  src/cargo/ops/cargo_new.rs
  src/cargo/util/toml/mod.rs
  src/doc/src/reference/manifest.md
  src/doc/src/reference/unstable.md
  src/doc/src/reference/workspaces.md
  tests/testsuite/cargo_new/inherit_workspace_lints/mod.rs
  tests/testsuite/lints.rs
Labels: A-documenting-cargo-itself, Command-new, A-manifest, S-waiting-on-bors

#12578 feat(help): Add styling to help output
  Cargo.lock
  Cargo.toml
  src/bin/cargo/cli.rs
  src/bin/cargo/commands/add.rs
  src/bin/cargo/commands/bench.rs
  src/bin/cargo/commands/build.rs
  src/bin/cargo/commands/check.rs
  src/bin/cargo/commands/clean.rs
  src/bin/cargo/commands/doc.rs
  src/bin/cargo/commands/fetch.rs
  src/bin/cargo/commands/fix.rs
  src/bin/cargo/commands/generate_lockfile.rs
  src/bin/cargo/commands/init.rs
  src/bin/cargo/commands/install.rs
  src/bin/cargo/commands/locate_project.rs
  src/bin/cargo/commands/login.rs
  src/bin/cargo/commands/logout.rs
  src/bin/cargo/commands/metadata.rs
  src/bin/cargo/commands/new.rs
  src/bin/cargo/commands/owner.rs
  src/bin/cargo/commands/package.rs
  src/bin/cargo/commands/pkgid.rs
  src/bin/cargo/commands/publish.rs
  src/bin/cargo/commands/read_manifest.rs
  src/bin/cargo/commands/remove.rs
  src/bin/cargo/commands/report.rs
  src/bin/cargo/commands/run.rs
  src/bin/cargo/commands/rustc.rs
  src/bin/cargo/commands/rustdoc.rs
  src/bin/cargo/commands/search.rs
  src/bin/cargo/commands/test.rs
  src/bin/cargo/commands/tree.rs
  src/bin/cargo/commands/uninstall.rs
  src/bin/cargo/commands/update.rs
  src/bin/cargo/commands/vendor.rs
  src/bin/cargo/commands/verify_project.rs
  src/bin/cargo/commands/version.rs
  src/bin/cargo/commands/yank.rs
  tests/testsuite/cargo_remove/help/stdout.log
Labels: Command-doc, Command-test, Command-run, Command-clean, Command-publish, Command-new, Command-install, Command-metadata, Command-check, Command-bench, Command-build, Command-fetch, Command-generate-lockfile, Command-init, Command-locate-project, Command-login, Command-owner, Command-package, Command-pkgid, Command-read-manifest, Command-rustc, Command-rustdoc, Command-search, Command-uninstall, Command-update, Command-verify-project, Command-yank, T-cargo, Command-version, Command-fix, final-comment-period, disposition-merge, S-waiting-on-bors, Command-vendor, A-cli, Command-tree, Command-logout, Command-add, Command-report, Command-remove

#12643 Index summary enum
  src/cargo/sources/registry/index.rs
  src/cargo/sources/registry/mod.rs
  tests/testsuite/registry.rs
Labels: A-dependency-resolution, A-registries, A-testing-cargo-itself, S-waiting-on-bors, A-cli, A-lockfile, A-cache-messages, A-cfg-expr

#12657 libgit2 fixed upstream
  crates/cargo-test-support/src/git.rs
Labels: A-testing-cargo-itself, S-waiting-on-bors

#12655 refactor: Consolidate clap/shell styles
  Cargo.lock
  Cargo.toml
  src/bin/cargo/cli.rs
  src/cargo/core/compiler/timings.rs
  src/cargo/core/shell.rs
  src/cargo/ops/cargo_add/mod.rs
  src/cargo/ops/cargo_generate_lockfile.rs
  src/cargo/ops/registry/search.rs
  src/cargo/util/flock.rs
  src/cargo/util/mod.rs
  src/cargo/util/style.rs
Labels: A-interacts-with-crates.io, Command-generate-lockfile, Command-search, A-console-output, S-waiting-on-bors, A-timings, A-cli, A-filesystem, Command-add

#12665 chore: update globset to 0.4.13
  Cargo.lock
Labels: S-waiting-on-bors

#12666 Fix typos: `informations` -> `information`
  src/cargo/sources/git/source.rs
  src/cargo/sources/mod.rs
  src/cargo/sources/path.rs
  src/cargo/sources/registry/local.rs
  src/cargo/sources/registry/remote.rs
  src/cargo/sources/source.rs
Labels: A-git, A-registries, S-waiting-on-bors, A-local-registry-source

#12659 Prerelease candidates error message
  src/cargo/core/dependency.rs
  src/cargo/core/resolver/errors.rs
  src/cargo/util/toml/mod.rs
  tests/testsuite/patch.rs
  tests/testsuite/registry.rs
Labels: A-crate-dependencies, A-dependency-resolution, A-manifest, S-waiting-on-bors

#12667 Clippy
  src/cargo/core/compiler/build_config.rs
  src/cargo/core/compiler/build_context/target_info.rs
  src/cargo/core/compiler/build_plan.rs
  src/cargo/core/compiler/custom_build.rs
  src/cargo/core/compiler/fingerprint/mod.rs
  src/cargo/core/compiler/future_incompat.rs
  src/cargo/core/compiler/job_queue/mod.rs
  src/cargo/core/compiler/links.rs
  src/cargo/core/compiler/mod.rs
  src/cargo/core/compiler/timings.rs
  src/cargo/core/compiler/unit_dependencies.rs
  src/cargo/core/features.rs
  src/cargo/core/package_id.rs
  src/cargo/core/package_id_spec.rs
  src/cargo/core/profiles.rs
  src/cargo/core/resolver/dep_cache.rs
  src/cargo/core/resolver/encode.rs
  src/cargo/core/resolver/features.rs
  src/cargo/core/resolver/mod.rs
  src/cargo/core/source_id.rs
  src/cargo/core/workspace.rs
  src/cargo/ops/cargo_add/mod.rs
  src/cargo/ops/cargo_compile/mod.rs
  src/cargo/ops/cargo_generate_lockfile.rs
  src/cargo/ops/cargo_package.rs
  src/cargo/ops/cargo_pkgid.rs
  src/cargo/ops/fix.rs
  src/cargo/ops/registry/yank.rs
  src/cargo/ops/resolve.rs
  src/cargo/ops/tree/graph.rs
  src/cargo/sources/config.rs
  src/cargo/sources/directory.rs
  src/cargo/sources/git/utils.rs
  src/cargo/sources/path.rs
  src/cargo/sources/registry/remote.rs
  src/cargo/util/auth/mod.rs
  src/cargo/util/config/mod.rs
  src/cargo/util/dependency_queue.rs
  src/cargo/util/flock.rs
  src/cargo/util/profile.rs
  src/cargo/util/progress.rs
  src/cargo/util/toml/mod.rs
  src/cargo/util/toml/targets.rs
Labels: A-git, A-configuration, A-interacts-with-crates.io, A-build-execution, Command-generate-lockfile, Command-package, Command-pkgid, Command-yank, A-workspaces, A-profiles, A-rebuild-detection, A-build-scripts, A-dependency-resolution, A-registries, A-console-output, A-manifest, Command-fix, S-waiting-on-bors, A-timings, A-lockfile, A-filesystem, A-cfg-expr, A-links, A-features2, A-directory-source, Command-tree, A-unstable, A-future-incompat, Command-add, A-registry-authentication

#12662 Limit cargo add feature print
  src/cargo/ops/cargo_add/mod.rs
  tests/testsuite/cargo_add/features_too_many_activated/in/Cargo.toml
  tests/testsuite/cargo_add/features_too_many_activated/in/src/lib.rs
  tests/testsuite/cargo_add/features_too_many_activated/mod.rs
  tests/testsuite/cargo_add/features_too_many_activated/out/Cargo.toml
  tests/testsuite/cargo_add/features_too_many_activated/stderr.log
  tests/testsuite/cargo_add/features_too_many_activated/stdout.log
  tests/testsuite/cargo_add/features_too_many_few_activated/in/Cargo.toml
  tests/testsuite/cargo_add/features_too_many_few_activated/in/src/lib.rs
  tests/testsuite/cargo_add/features_too_many_few_activated/mod.rs
  tests/testsuite/cargo_add/features_too_many_few_activated/out/Cargo.toml
  tests/testsuite/cargo_add/features_too_many_few_activated/stderr.log
  tests/testsuite/cargo_add/features_too_many_few_activated/stdout.log
  tests/testsuite/cargo_add/mod.rs
Labels: S-waiting-on-bors, Command-add

#12669 refactor: fix lint errors in preparation of `[lints]` table integration
  Cargo.lock
  clippy.toml
  crates/cargo-platform/src/error.rs
  crates/cargo-test-macro/src/lib.rs
  crates/cargo-test-support/src/registry.rs
  crates/mdman/src/format/mod.rs
  crates/mdman/src/hbs.rs
  crates/mdman/src/lib.rs
  crates/mdman/src/main.rs
  crates/resolver-tests/src/lib.rs
  crates/semver-check/src/main.rs
  crates/xtask-bump-check/src/xtask.rs
  credential/cargo-credential-1password/src/main.rs
  credential/cargo-credential-libsecret/Cargo.toml
  credential/cargo-credential-libsecret/src/lib.rs
  credential/cargo-credential-wincred/Cargo.toml
  credential/cargo-credential-wincred/src/lib.rs
  credential/cargo-credential/examples/file-provider.rs
  credential/cargo-credential/examples/stdout-redirected.rs
  credential/cargo-credential/src/lib.rs
  src/cargo/lib.rs
Labels: A-dependency-resolution, A-testing-cargo-itself, S-waiting-on-bors, A-cfg-expr, A-semver, A-cli-help, A-registry-authentication, A-infrastructure

#12671 fix: emit a warning for `credential-alias` shadowing
  src/cargo/util/auth/mod.rs
  tests/testsuite/credential_process.rs
Labels: S-waiting-on-bors, A-registry-authentication

#12614 feat(pkgid): Allow incomplete versions when unambigious
  crates/resolver-tests/src/lib.rs
  src/bin/cargo/commands/remove.rs
  src/cargo/core/manifest.rs
  src/cargo/core/package.rs
  src/cargo/core/package_id_spec.rs
  src/cargo/core/resolver/dep_cache.rs
  src/cargo/core/resolver/mod.rs
  src/cargo/core/resolver/version_prefs.rs
  src/cargo/core/summary.rs
  src/cargo/core/workspace.rs
  src/cargo/ops/cargo_add/mod.rs
  src/cargo/ops/cargo_clean.rs
  src/cargo/ops/cargo_package.rs
  src/cargo/ops/resolve.rs
  src/cargo/sources/registry/index.rs
  src/cargo/util/mod.rs
  src/cargo/util/semver_ext.rs
  src/cargo/util/toml/mod.rs
  src/doc/src/reference/pkgid-spec.md
  tests/testsuite/clean.rs
  tests/testsuite/pkgid.rs
  tests/testsuite/profile_overrides.rs
Labels: A-documenting-cargo-itself, Command-clean, Command-package, A-workspaces, A-dependency-resolution, A-registries, T-cargo, A-manifest, final-comment-period, disposition-merge, S-waiting-on-bors, A-cli, A-semver, Command-add, Command-remove

#12679 doc: clarify caret requirements
  src/doc/src/reference/specifying-dependencies.md
Labels: A-documenting-cargo-itself, S-waiting-on-bors

#12677 refactor: use `RegistryOrIndex` enum to replace two booleans
  src/bin/cargo/commands/init.rs
  src/bin/cargo/commands/install.rs
  src/bin/cargo/commands/login.rs
  src/bin/cargo/commands/logout.rs
  src/bin/cargo/commands/new.rs
  src/bin/cargo/commands/owner.rs
  src/bin/cargo/commands/publish.rs
  src/bin/cargo/commands/search.rs
  src/bin/cargo/commands/yank.rs
  src/cargo/ops/mod.rs
  src/cargo/ops/registry/login.rs
  src/cargo/ops/registry/logout.rs
  src/cargo/ops/registry/mod.rs
  src/cargo/ops/registry/owner.rs
  src/cargo/ops/registry/publish.rs
  src/cargo/ops/registry/search.rs
  src/cargo/ops/registry/yank.rs
  src/cargo/util/command_prelude.rs
  tests/testsuite/alt_registry.rs
  tests/testsuite/cargo_owner/help/stdout.log
  tests/testsuite/cargo_publish/help/stdout.log
  tests/testsuite/cargo_search/help/stdout.log
  tests/testsuite/cargo_yank/help/stdout.log
  tests/testsuite/publish.rs
Labels: Command-publish, Command-new, Command-install, A-interacts-with-crates.io, Command-init, Command-login, Command-owner, Command-search, Command-yank, S-waiting-on-bors, A-cli, Command-logout

#12649 feat: stabilize credential-process and registry-auth
  Cargo.lock
  credential/cargo-credential-1password/README.md
  credential/cargo-credential-libsecret/README.md
  credential/cargo-credential-macos-keychain/Cargo.toml
  credential/cargo-credential-macos-keychain/README.md
  credential/cargo-credential-wincred/README.md
  credential/cargo-credential/README.md
  publish.py
  src/bin/cargo/commands/login.rs
  src/cargo/core/features.rs
  src/cargo/lib.rs
  src/cargo/ops/registry/mod.rs
  src/cargo/ops/registry/publish.rs
  src/cargo/sources/registry/download.rs
  src/cargo/sources/registry/http_remote.rs
  src/cargo/sources/registry/remote.rs
  src/cargo/util/auth/mod.rs
  src/doc/man/cargo-login.md
  src/doc/man/cargo-logout.md
  src/doc/man/generated_txt/cargo-login.txt
  src/doc/man/generated_txt/cargo-logout.txt
  src/doc/src/SUMMARY.md
  src/doc/src/commands/cargo-login.md
  src/doc/src/commands/cargo-logout.md
  src/doc/src/reference/config.md
  src/doc/src/reference/credential-provider-protocol.md
  src/doc/src/reference/environment-variables.md
  src/doc/src/reference/registries.md
  src/doc/src/reference/registry-authentication.md
  src/doc/src/reference/registry-index.md
  src/doc/src/reference/unstable.md
  src/etc/man/cargo-login.1
  src/etc/man/cargo-logout.1
  tests/testsuite/cargo_login/help/stdout.log
  tests/testsuite/credential_process.rs
  tests/testsuite/login.rs
  tests/testsuite/registry_auth.rs
  tests/testsuite/search.rs
Labels: A-documenting-cargo-itself, Command-publish, relnotes, A-interacts-with-crates.io, Command-login, A-registries, S-waiting-on-bors, A-cli, A-cli-help, A-unstable, A-sparse-registry, A-registry-authentication, A-infrastructure

#12660 feat(cli): Add '-n' to dry-run
  src/cargo/util/command_prelude.rs
  tests/testsuite/cargo_add/help/stdout.log
  tests/testsuite/cargo_publish/help/stdout.log
  tests/testsuite/cargo_remove/help/stdout.log
  tests/testsuite/cargo_update/help/stdout.log
Labels: T-cargo, final-comment-period, disposition-merge, S-waiting-on-bors, A-cli

#12680 doc: differentiate defaults for split-debuginfo
  src/doc/src/reference/profiles.md
Labels: A-documenting-cargo-itself, S-waiting-on-bors

#12682 util/toml: Remove duplicate `serde(rename)` attributes
  src/cargo/util/toml/mod.rs
Labels: A-manifest, S-waiting-on-bors

#12685 generalise suggestion on abiguous spec
  src/cargo/core/package_id_spec.rs
  tests/testsuite/git.rs
  tests/testsuite/pkgid.rs
  tests/testsuite/tree.rs
Labels: S-waiting-on-bors

#12686 publish.py: Remove obsolete `sleep()` calls
  publish.py
Labels: S-waiting-on-bors, A-infrastructure

#12687 SemVer: Update documentation about removing optional dependencies
  src/doc/src/reference/semver.md
Labels: A-documenting-cargo-itself, S-waiting-on-bors

#12702 Cargo add displays either feature list or summarized count
  src/cargo/ops/cargo_add/mod.rs
  tests/testsuite/cargo_add/features_activated_over_limit/in/Cargo.toml
  tests/testsuite/cargo_add/features_activated_over_limit/in/src/lib.rs
  tests/testsuite/cargo_add/features_activated_over_limit/mod.rs
  tests/testsuite/cargo_add/features_activated_over_limit/out/Cargo.toml
  tests/testsuite/cargo_add/features_activated_over_limit/stderr.log
  tests/testsuite/cargo_add/features_activated_over_limit/stdout.log
  tests/testsuite/cargo_add/features_deactivated_over_limit/in/Cargo.toml
  tests/testsuite/cargo_add/features_deactivated_over_limit/in/src/lib.rs
  tests/testsuite/cargo_add/features_deactivated_over_limit/mod.rs
  tests/testsuite/cargo_add/features_deactivated_over_limit/out/Cargo.toml
  tests/testsuite/cargo_add/features_deactivated_over_limit/stderr.log
  tests/testsuite/cargo_add/features_deactivated_over_limit/stdout.log
  tests/testsuite/cargo_add/features_too_many_few_activated/out/Cargo.toml
  tests/testsuite/cargo_add/features_too_many_few_activated/stderr.log
  tests/testsuite/cargo_add/mod.rs
Labels: S-waiting-on-bors, Command-add

#12705 doc/reference/manifest: Adjust `keywords` description
  src/doc/src/reference/manifest.md
Labels: A-documenting-cargo-itself, S-waiting-on-bors

#12678 Shortest path
  crates/resolver-tests/src/lib.rs
  crates/resolver-tests/tests/resolve.rs
  src/cargo/core/resolver/dep_cache.rs
  src/cargo/util/graph.rs
Labels: A-dependency-resolution, S-waiting-on-bors

#12707 chore: Fix typos
  CHANGELOG.md
  crates/crates-io/lib.rs
  crates/xtask-bump-check/src/xtask.rs
  src/bin/cargo/cli.rs
  src/cargo/core/compiler/context/compilation_files.rs
  src/cargo/core/compiler/custom_build.rs
  src/cargo/core/compiler/fingerprint/mod.rs
  src/cargo/core/compiler/mod.rs
  src/cargo/core/features.rs
  src/cargo/core/registry.rs
  src/cargo/lib.rs
  src/cargo/ops/cargo_output_metadata.rs
  src/cargo/sources/git/mod.rs
  src/cargo/sources/git/oxide.rs
  src/cargo/sources/git/source.rs
  src/cargo/sources/git/utils.rs
  src/cargo/sources/mod.rs
  src/cargo/sources/registry/index.rs
  src/cargo/sources/registry/remote.rs
  src/cargo/util/config/key.rs
  src/cargo/util/mod.rs
  src/cargo/util/semver_ext.rs
  src/doc/man/cargo-metadata.md
  src/doc/man/generated_txt/cargo-metadata.txt
  src/doc/src/commands/cargo-metadata.md
  src/doc/src/guide/continuous-integration.md
  src/doc/src/reference/registry-authentication.md
  src/etc/man/cargo-metadata.1
  tests/testsuite/cargo_new/mod.rs
  tests/testsuite/cargo_new/not_inherit_workspace_package_table_if_not_members/in/Cargo.toml
  tests/testsuite/cargo_new/not_inherit_workspace_package_table_if_not_members/in/README.md
  tests/testsuite/cargo_new/not_inherit_workspace_package_table_if_not_members/in/src/lib.rs
  tests/testsuite/cargo_new/not_inherit_workspace_package_table_if_not_members/mod.rs
  tests/testsuite/cargo_new/not_inherit_workspace_package_table_if_not_members/out/Cargo.toml
  tests/testsuite/cargo_new/not_inherit_workspace_package_table_if_not_members/out/foo/Cargo.toml
  tests/testsuite/cargo_new/not_inherit_workspace_package_table_if_not_members/out/foo/src/main.rs
  tests/testsuite/cargo_new/not_inherit_workspace_package_table_if_not_members/out/src/lib.rs
  tests/testsuite/cargo_new/not_inherit_workspace_package_table_if_not_members/stderr.log
  tests/testsuite/cargo_new/not_inherit_workspace_package_table_if_not_members/stdout.log
  tests/testsuite/credential_process.rs
  tests/testsuite/freshness.rs
  tests/testsuite/profile_config.rs
  tests/testsuite/script.rs
Labels: A-documenting-cargo-itself, A-git, Command-metadata, A-interacts-with-crates.io, A-build-execution, A-rebuild-detection, A-build-scripts, A-registries, S-waiting-on-bors, A-cli, A-layout, A-semver, A-cli-help, A-unstable, A-infrastructure

#12638 Add some enhancements to `cargo clean`
  crates/cargo-test-support/src/compare.rs
  src/bin/cargo/commands/clean.rs
  src/cargo/ops/cargo_clean.rs
  src/doc/man/cargo-clean.md
  src/doc/man/generated_txt/cargo-clean.txt
  src/doc/src/commands/cargo-clean.md
  src/etc/man/cargo-clean.1
  tests/testsuite/cargo_clean/help/stdout.log
  tests/testsuite/clean.rs
  tests/testsuite/profile_custom.rs
  tests/testsuite/script.rs
Labels: A-documenting-cargo-itself, Command-clean, A-testing-cargo-itself, S-waiting-on-bors, A-cli, A-cli-help

#12709 fix: use channel-specific link for registry auth error
  src/cargo/core/features.rs
  src/cargo/util/auth/mod.rs
Labels: S-waiting-on-bors, A-unstable, A-registry-authentication

#12713 infra: add auto-trigger rules for new labels
  triagebot.toml
Labels: S-waiting-on-bors, A-infrastructure

#12688 fix: copy PDBs for EFI targets
  src/cargo/core/compiler/build_context/target_info.rs
Labels: S-waiting-on-bors, A-cfg-expr

#12712 doc: mention unstable flag `-Z asymmetric-token`
  src/doc/src/reference/unstable.md
Labels: A-documenting-cargo-itself, S-waiting-on-bors

#12714 fix: typos in registry authentication documentation
  src/doc/src/reference/credential-provider-protocol.md
  src/doc/src/reference/registry-authentication.md
Labels: A-documenting-cargo-itself, S-waiting-on-bors

#12711 refactor: move cached crates.io SourceID to config module
  src/cargo/core/source_id.rs
  src/cargo/util/config/mod.rs
Labels: A-configuration, S-waiting-on-bors

#12716 chore(ci): Ignore patch version in MSRV
  .github/renovate.json5
Labels: S-waiting-on-bors, A-infrastructure

#12718 Update curl-sys to pull in curl 8.3.0
  Cargo.lock
  Cargo.toml
Labels: S-waiting-on-bors

#12693 Better suggestion for redundant mode in build and install commands
  src/bin/cargo/commands/build.rs
  src/bin/cargo/commands/install.rs
  src/cargo/util/command_prelude.rs
  tests/testsuite/build.rs
  tests/testsuite/install.rs
Labels: Command-install, Command-build, S-waiting-on-bors, A-cli

#12722 refactor(TomlManifest): fail when package_root is not a directory
  src/cargo/util/toml/mod.rs
Labels: A-manifest, S-waiting-on-bors

#12675 refactor(SourceId): merge `name` and `alt_registry_key` into one enum
  src/cargo/core/package_id.rs
  src/cargo/core/source_id.rs
  src/cargo/sources/config.rs
  src/cargo/util/auth/mod.rs
  tests/testsuite/source_replacement.rs
Labels: A-configuration, A-interacts-with-crates.io, S-waiting-on-bors, A-registry-authentication

#12726 Fix spurious errors with networking tests.
  crates/cargo-test-support/src/registry.rs
  tests/testsuite/publish.rs
Labels: A-testing-cargo-itself, S-waiting-on-bors

#12727 Buffer console status messages.
  src/cargo/core/shell.rs
Labels: A-console-output, S-waiting-on-bors

#12720 Update target-arch-aware crates to support mips r6 targets
  Cargo.lock
  Cargo.toml
Labels: S-waiting-on-bors

#12731 upgrade gitoxide to v0.54
  Cargo.lock
  Cargo.toml
Labels: S-waiting-on-bors

#12730 Fix some typos
  crates/cargo-test-support/src/lib.rs
  deny.toml
Labels: A-testing-cargo-itself, S-waiting-on-bors, A-infrastructure

#12733 docs: warn about upload timeout
  src/doc/man/cargo-publish.md
  src/doc/man/generated_txt/cargo-publish.txt
  src/doc/src/commands/cargo-publish.md
  src/etc/man/cargo-publish.1
Labels: A-documenting-cargo-itself, S-waiting-on-bors, A-cli-help

#12732 more specific registry index not found msg
  src/cargo/util/config/mod.rs
  tests/testsuite/source_replacement.rs
Labels: A-configuration, S-waiting-on-bors

#12681 feat(embedded): Hack in code fence support
  src/cargo/util/toml/embedded.rs
  src/doc/src/reference/unstable.md
  tests/testsuite/script.rs
Labels: A-documenting-cargo-itself, S-waiting-on-bors, Z-script

#12745 docs(ref): Establish publish best practices
  src/doc/src/reference/publishing.md
Labels: A-documenting-cargo-itself, S-waiting-on-bors

#12723 Add better suggestion for the unsupported silent flag
  src/bin/cargo/commands/vendor.rs
  src/cargo/util/command_prelude.rs
  tests/testsuite/run.rs
Labels: S-waiting-on-bors, Command-vendor, A-cli

#12748 Add missing `strip` entries in `dev` and `release` profiles.
  src/doc/src/reference/profiles.md
Labels: A-documenting-cargo-itself, S-waiting-on-bors

#12751 refactor: Switch from termcolor to anstream
  Cargo.lock
  Cargo.toml
  crates/cargo-test-support/Cargo.toml
  crates/cargo-test-support/src/diff.rs
  src/bin/cargo/commands/report.rs
  src/cargo/core/compiler/future_incompat.rs
  src/cargo/core/compiler/mod.rs
  src/cargo/core/shell.rs
Labels: A-build-execution, A-console-output, A-testing-cargo-itself, S-waiting-on-bors, A-cli, A-future-incompat, Command-report

#12753 fix(test): Add back in newlines to diffs
  crates/cargo-test-support/src/diff.rs
Labels: A-testing-cargo-itself, S-waiting-on-bors
