Repository rust-lang/cargo, pull requests merged in 2024-10, with the labels that each got.

#14628 chore(deps): update embarkstudios/cargo-deny-action action to v2
  .github/workflows/audit.yml
  deny.toml
Labels: S-waiting-on-bors, A-infrastructure

#14631 docs(config): make `--config <PATH>` more prominent
  src/bin/cargo/cli.rs
  src/doc/src/reference/config.md
  tests/testsuite/cargo/help/stdout.term.svg
  tests/testsuite/cargo_add/help/stdout.term.svg
  tests/testsuite/cargo_bench/help/stdout.term.svg
  tests/testsuite/cargo_build/help/stdout.term.svg
  tests/testsuite/cargo_check/help/stdout.term.svg
  tests/testsuite/cargo_clean/help/stdout.term.svg
  tests/testsuite/cargo_config/help/stdout.term.svg
  tests/testsuite/cargo_doc/help/stdout.term.svg
  tests/testsuite/cargo_fetch/help/stdout.term.svg
  tests/testsuite/cargo_fix/help/stdout.term.svg
  tests/testsuite/cargo_generate_lockfile/help/stdout.term.svg
  tests/testsuite/cargo_help/help/stdout.term.svg
  tests/testsuite/cargo_info/help/stdout.term.svg
  tests/testsuite/cargo_init/help/stdout.term.svg
  tests/testsuite/cargo_install/help/stdout.term.svg
  tests/testsuite/cargo_locate_project/help/stdout.term.svg
  tests/testsuite/cargo_login/help/stdout.term.svg
  tests/testsuite/cargo_logout/help/stdout.term.svg
  tests/testsuite/cargo_metadata/help/stdout.term.svg
  tests/testsuite/cargo_new/help/stdout.term.svg
  tests/testsuite/cargo_owner/help/stdout.term.svg
  tests/testsuite/cargo_package/help/stdout.term.svg
  tests/testsuite/cargo_pkgid/help/stdout.term.svg
  tests/testsuite/cargo_publish/help/stdout.term.svg
  tests/testsuite/cargo_read_manifest/help/stdout.term.svg
  tests/testsuite/cargo_remove/help/stdout.term.svg
  tests/testsuite/cargo_report/help/stdout.term.svg
  tests/testsuite/cargo_run/help/stdout.term.svg
  tests/testsuite/cargo_rustc/help/stdout.term.svg
  tests/testsuite/cargo_rustdoc/help/stdout.term.svg
  tests/testsuite/cargo_search/help/stdout.term.svg
  tests/testsuite/cargo_test/help/stdout.term.svg
  tests/testsuite/cargo_tree/help/stdout.term.svg
  tests/testsuite/cargo_uninstall/help/stdout.term.svg
  tests/testsuite/cargo_update/help/stdout.term.svg
  tests/testsuite/cargo_vendor/help/stdout.term.svg
  tests/testsuite/cargo_verify_project/help/stdout.term.svg
  tests/testsuite/cargo_version/help/stdout.term.svg
  tests/testsuite/cargo_yank/help/stdout.term.svg
Labels: A-documenting-cargo-itself, S-waiting-on-bors, A-cli, A-config-cli

#14630 fix: Remove implicit feature removal
  src/cargo/core/workspace.rs
  src/cargo/ops/fix.rs
  src/cargo/util/lints.rs
  src/cargo/util/toml/mod.rs
  src/doc/src/reference/lints.md
  tests/testsuite/features.rs
  tests/testsuite/fix.rs
  tests/testsuite/lints/implicit_features.rs
  tests/testsuite/lints/mod.rs
  tests/testsuite/lints/unused_optional_dependencies.rs
  tests/testsuite/publish.rs
Labels: A-documenting-cargo-itself, A-workspaces, A-manifest, Command-fix, S-waiting-on-bors

#14599 docs(charter): Declare new Intentional Artifacts as 'small' changes
  src/doc/contrib/src/team.md
Labels: A-documenting-cargo-itself, T-cargo, final-comment-period, disposition-merge, S-waiting-on-bors

#14632 chore(deps): update tar to 0.4.42
  Cargo.lock
  Cargo.toml
  crates/cargo-test-support/src/containers.rs
  crates/cargo-test-support/src/registry.rs
  src/cargo/ops/cargo_package.rs
Labels: Command-package, A-testing-cargo-itself, S-waiting-on-bors, A-infrastructure

#14637 Fix `cargo:version_number` - has only one `:`
  src/doc/src/reference/build-script-examples.md
Labels: A-documenting-cargo-itself, S-waiting-on-bors

#14638 docs(ref): Highleft whats left for msrv-policy
  src/doc/src/reference/unstable.md
Labels: A-documenting-cargo-itself, S-waiting-on-bors

#14620 docs: Minor re-grouping of pages
  src/doc/book.toml
  src/doc/man/generated_txt/cargo-bench.txt
  src/doc/man/generated_txt/cargo-build.txt
  src/doc/man/generated_txt/cargo-check.txt
  src/doc/man/generated_txt/cargo-clean.txt
  src/doc/man/generated_txt/cargo-doc.txt
  src/doc/man/generated_txt/cargo-fetch.txt
  src/doc/man/generated_txt/cargo-fix.txt
  src/doc/man/generated_txt/cargo-install.txt
  src/doc/man/generated_txt/cargo-package.txt
  src/doc/man/generated_txt/cargo-publish.txt
  src/doc/man/generated_txt/cargo-run.txt
  src/doc/man/generated_txt/cargo-rustc.txt
  src/doc/man/generated_txt/cargo-rustdoc.txt
  src/doc/man/generated_txt/cargo-test.txt
  src/doc/man/includes/options-target-triple.md
  src/doc/src/SUMMARY.md
  src/doc/src/commands/cargo-bench.md
  src/doc/src/commands/cargo-build.md
  src/doc/src/commands/cargo-check.md
  src/doc/src/commands/cargo-clean.md
  src/doc/src/commands/cargo-doc.md
  src/doc/src/commands/cargo-fetch.md
  src/doc/src/commands/cargo-fix.md
  src/doc/src/commands/cargo-install.md
  src/doc/src/commands/cargo-package.md
  src/doc/src/commands/cargo-publish.md
  src/doc/src/commands/cargo-run.md
  src/doc/src/commands/cargo-rustc.md
  src/doc/src/commands/cargo-rustdoc.md
  src/doc/src/commands/cargo-test.md
  src/doc/src/guide/build-cache.md
  src/doc/src/reference/build-cache.md
  src/doc/src/reference/cargo-targets.md
  src/doc/src/reference/config.md
  src/doc/src/reference/profiles.md
  src/doc/src/reference/workspaces.md
  src/etc/man/cargo-bench.1
  src/etc/man/cargo-build.1
  src/etc/man/cargo-check.1
  src/etc/man/cargo-clean.1
  src/etc/man/cargo-doc.1
  src/etc/man/cargo-fetch.1
  src/etc/man/cargo-fix.1
  src/etc/man/cargo-install.1
  src/etc/man/cargo-package.1
  src/etc/man/cargo-publish.1
  src/etc/man/cargo-run.1
  src/etc/man/cargo-rustc.1
  src/etc/man/cargo-rustdoc.1
  src/etc/man/cargo-test.1
Labels: A-documenting-cargo-itself, S-waiting-on-bors, A-cli-help

#14636 docs(ref): Expand on MSRV
  src/doc/src/SUMMARY.md
  src/doc/src/reference/manifest.md
  src/doc/src/reference/rust-version.md
Labels: A-documenting-cargo-itself, S-waiting-on-bors

#14576 test: Remove the last of our custom json assertions
  Cargo.lock
  Cargo.toml
  crates/cargo-test-support/src/compare.rs
  crates/cargo-test-support/src/lib.rs
  crates/cargo-test-support/src/publish.rs
  tests/testsuite/build.rs
  tests/testsuite/metadata.rs
Labels: A-testing-cargo-itself, S-waiting-on-bors

#14647 improve error reporting when feature not found in `activated_features`
  src/cargo/core/resolver/features.rs
  tests/testsuite/artifact_dep.rs
Labels: A-dependency-resolution, S-waiting-on-bors, A-features2

#14464 fix: avoid inserting duplicate `dylib_path_envvar` when calling `cargo run` recursively
  src/cargo/core/compiler/compilation.rs
  tests/testsuite/build.rs
Labels: A-build-execution, A-environment-variables, S-waiting-on-bors

#14614 Add more SAT resolver tests
  Cargo.lock
  crates/resolver-tests/Cargo.toml
  crates/resolver-tests/src/helpers.rs
  crates/resolver-tests/src/lib.rs
  crates/resolver-tests/src/sat.rs
  crates/resolver-tests/tests/proptests.rs
  crates/resolver-tests/tests/pubgrub.rs
  crates/resolver-tests/tests/resolve.rs
  crates/resolver-tests/tests/validated.rs
Labels: A-dependency-resolution, S-waiting-on-bors

#14653 fix(complete): Don't complete files for any value
  Cargo.lock
  Cargo.toml
  src/bin/cargo/main.rs
Labels: S-waiting-on-bors, A-cli

#14657 Document build-plan as being deprecated
  src/doc/src/reference/unstable.md
Labels: A-documenting-cargo-itself, S-waiting-on-bors

#14656 feat: Add custom completer for completing registry name
  src/bin/cargo/commands/add.rs
  src/cargo/util/command_prelude.rs
Labels: S-waiting-on-bors, A-cli, Command-add

#14137 initial version of checksum based freshness
  Cargo.lock
  Cargo.toml
  crates/cargo-test-support/src/lib.rs
  deny.toml
  src/cargo/core/compiler/build_runner/mod.rs
  src/cargo/core/compiler/fingerprint/dirty_reason.rs
  src/cargo/core/compiler/fingerprint/mod.rs
  src/cargo/core/compiler/mod.rs
  src/cargo/core/compiler/output_depinfo.rs
  src/cargo/core/features.rs
  src/doc/src/reference/unstable.md
  tests/testsuite/cargo/z_help/stdout.term.svg
  tests/testsuite/dep_info.rs
  tests/testsuite/freshness_checksum.rs
  tests/testsuite/main.rs
Labels: A-documenting-cargo-itself, A-configuration, A-build-execution, A-rebuild-detection, A-testing-cargo-itself, S-waiting-on-bors, A-cli, A-dep-info, A-unstable, A-infrastructure

#14663 Improve resolver speed
  Cargo.lock
  Cargo.toml
  crates/resolver-tests/src/sat.rs
  crates/resolver-tests/tests/resolve.rs
  src/cargo/core/resolver/conflict_cache.rs
  src/cargo/core/resolver/context.rs
  src/cargo/core/resolver/mod.rs
  src/cargo/util/graph.rs
Labels: A-dependency-resolution, S-waiting-on-bors

#14668 chore(deps): update rust crate pulldown-cmark to 0.12.0
  Cargo.lock
  Cargo.toml
  crates/mdman/src/format/man.rs
  crates/mdman/src/format/text.rs
Labels: S-waiting-on-bors, A-cli-help

#14662 docs(resolver): Lay groundwork for documenting MSRV-aware logic
  src/doc/src/SUMMARY.md
  src/doc/src/reference/manifest.md
  src/doc/src/reference/resolver.md
  src/doc/src/reference/specifying-dependencies.md
Labels: A-documenting-cargo-itself, S-waiting-on-bors

#14593 Fix panic when running cargo tree on a package with a cross compiled bindep
  src/cargo/ops/tree/graph.rs
  tests/testsuite/artifact_dep.rs
Labels: A-documenting-cargo-itself, A-build-execution, A-rebuild-detection, A-dependency-resolution, A-testing-cargo-itself, S-waiting-on-bors, A-features2, Command-tree, A-dep-info, A-unstable, A-infrastructure

#14669 docs: document official external commands
  .ignore
  src/doc/src/SUMMARY.md
  src/doc/src/commands/build-commands.md
  src/doc/src/commands/cargo-clippy.md
  src/doc/src/commands/cargo-fmt.md
  src/doc/src/commands/cargo-miri.md
Labels: A-documenting-cargo-itself, S-waiting-on-bors, Command-fmt, Command-clippy

#14676 docs(env): minor improvements in environment variables doc
  src/doc/src/reference/environment-variables.md
Labels: A-documenting-cargo-itself, A-environment-variables, S-waiting-on-bors

#14675 cargo test --help: clarify --tests and --benches
  src/bin/cargo/commands/bench.rs
  src/bin/cargo/commands/build.rs
  src/bin/cargo/commands/check.rs
  src/bin/cargo/commands/fix.rs
  src/bin/cargo/commands/rustc.rs
  src/bin/cargo/commands/rustdoc.rs
  src/bin/cargo/commands/test.rs
  src/doc/man/generated_txt/cargo-bench.txt
  src/doc/man/generated_txt/cargo-build.txt
  src/doc/man/generated_txt/cargo-check.txt
  src/doc/man/generated_txt/cargo-fix.txt
  src/doc/man/generated_txt/cargo-rustc.txt
  src/doc/man/generated_txt/cargo-rustdoc.txt
  src/doc/man/generated_txt/cargo-test.txt
  src/doc/man/includes/options-targets.md
  src/doc/src/commands/cargo-bench.md
  src/doc/src/commands/cargo-build.md
  src/doc/src/commands/cargo-check.md
  src/doc/src/commands/cargo-fix.md
  src/doc/src/commands/cargo-rustc.md
  src/doc/src/commands/cargo-rustdoc.md
  src/doc/src/commands/cargo-test.md
  src/etc/man/cargo-bench.1
  src/etc/man/cargo-build.1
  src/etc/man/cargo-check.1
  src/etc/man/cargo-fix.1
  src/etc/man/cargo-rustc.1
  src/etc/man/cargo-rustdoc.1
  src/etc/man/cargo-test.1
  tests/testsuite/cargo_bench/help/stdout.term.svg
  tests/testsuite/cargo_build/help/stdout.term.svg
  tests/testsuite/cargo_check/help/stdout.term.svg
  tests/testsuite/cargo_fix/help/stdout.term.svg
  tests/testsuite/cargo_rustc/help/stdout.term.svg
  tests/testsuite/cargo_rustdoc/help/stdout.term.svg
  tests/testsuite/cargo_test/help/stdout.term.svg
Labels: A-documenting-cargo-itself, Command-test, Command-check, Command-bench, Command-build, Command-rustc, Command-rustdoc, Command-fix, S-waiting-on-bors, A-cli, A-cli-help

#14677 docs: tools should only interpret a line starting with `{` as JSON
  src/doc/src/reference/external-tools.md
Labels: A-documenting-cargo-itself, S-waiting-on-bors

#14682 docs: install options -> uninstall options
  src/doc/man/cargo-uninstall.md
  src/doc/man/generated_txt/cargo-uninstall.txt
  src/doc/src/commands/cargo-uninstall.md
  src/etc/man/cargo-uninstall.1
Labels: A-documenting-cargo-itself, S-waiting-on-bors, A-cli-help

#14659 Support package selection options like `--exclude` in `cargo publish`
  src/bin/cargo/commands/publish.rs
  src/doc/man/cargo-publish.md
  src/doc/man/generated_txt/cargo-publish.txt
  src/doc/src/commands/cargo-publish.md
  src/etc/man/cargo-publish.1
  tests/testsuite/cargo_publish/help/stdout.term.svg
  tests/testsuite/publish.rs
Labels: A-documenting-cargo-itself, Command-publish, S-waiting-on-bors, A-cli, A-cli-help

#14688 fix(git): dont fetch tags by default
  src/cargo/sources/git/utils.rs
  tests/testsuite/git.rs
Labels: A-git, S-waiting-on-bors

#14692 fix(resolver): share conflict cache between activation retries
  src/cargo/core/resolver/mod.rs
Labels: A-dependency-resolution, S-waiting-on-bors

#14684 docs: More information on what is and isn't included by cargo package
  src/doc/man/cargo-package.md
  src/doc/man/generated_txt/cargo-package.txt
  src/doc/src/commands/cargo-package.md
  src/etc/man/cargo-package.1
Labels: A-documenting-cargo-itself, S-waiting-on-bors, A-cli-help

#14690 fix(resolver): avoid cloning when iterating using RcVecIter
  src/cargo/core/resolver/mod.rs
  src/cargo/core/resolver/types.rs
Labels: A-dependency-resolution, S-waiting-on-bors

#14694 fix(registry): `HttpRegistry` `block_until_ready` returns early when work is still pending
  src/cargo/sources/registry/http_remote.rs
  tests/testsuite/registry.rs
Labels: A-registries, S-waiting-on-bors, A-sparse-registry

#14696 Fix typo in faq.md
  src/doc/src/faq.md
Labels: A-documenting-cargo-itself, S-waiting-on-bors

#14695 Bump to 0.85.0; update changelog
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Labels: S-waiting-on-bors

#14642 test: Migrate publish snapshotting to snapbox
  Cargo.lock
  Cargo.toml
  crates/cargo-test-support/Cargo.toml
  crates/cargo-test-support/src/compare.rs
  crates/cargo-test-support/src/diff.rs
  crates/cargo-test-support/src/publish.rs
  tests/testsuite/artifact_dep.rs
  tests/testsuite/cross_publish.rs
  tests/testsuite/features2.rs
  tests/testsuite/features_namespaced.rs
  tests/testsuite/inheritable_workspace_fields.rs
  tests/testsuite/package.rs
  tests/testsuite/publish.rs
  tests/testsuite/publish_lockfile.rs
  tests/testsuite/weak_dep_features.rs
Labels: A-testing-cargo-itself, S-waiting-on-bors

#14700 Help with [patch.crates.io]
  src/cargo/util/toml/mod.rs
Labels: A-manifest, S-waiting-on-bors

#14639 feat: Stabilize MSRV-aware resolver config
  src/bin/cargo/commands/generate_lockfile.rs
  src/bin/cargo/commands/update.rs
  src/cargo/core/workspace.rs
  src/doc/src/reference/config.md
  src/doc/src/reference/resolver.md
  src/doc/src/reference/rust-version.md
  src/doc/src/reference/unstable.md
  tests/testsuite/cargo_add/rust_version_ignore/mod.rs
  tests/testsuite/cargo_add/rust_version_incompatible/mod.rs
  tests/testsuite/cargo_add/rust_version_latest/mod.rs
  tests/testsuite/cargo_add/rust_version_older/mod.rs
  tests/testsuite/cargo_add/rustc_ignore/mod.rs
  tests/testsuite/cargo_add/rustc_incompatible/mod.rs
  tests/testsuite/cargo_add/rustc_latest/mod.rs
  tests/testsuite/cargo_add/rustc_older/mod.rs
  tests/testsuite/cargo_generate_lockfile/help/stdout.term.svg
  tests/testsuite/cargo_update/help/stdout.term.svg
  tests/testsuite/rust_version.rs
Labels: A-documenting-cargo-itself, Command-generate-lockfile, Command-update, A-workspaces, T-cargo, finished-final-comment-period, disposition-merge, S-waiting-on-bors, A-cli, to-announce

#14704 fix(renovate): Switch matchPackageNames to matchDepNames
  .github/renovate.json5
Labels: S-waiting-on-bors, A-infrastructure

#14710 refactor(rustfix): minor refactors
  Cargo.lock
  crates/rustfix/Cargo.toml
  crates/rustfix/src/lib.rs
  crates/rustfix/src/replace.rs
Labels: Command-fix, S-waiting-on-bors

#14702 refactor: use `Iterator::is_sorted`
  src/cargo/ops/cargo_add/mod.rs
  src/cargo/ops/cargo_new.rs
  src/cargo/util/toml_mut/dependency.rs
  src/cargo/util/toml_mut/mod.rs
Labels: Command-new, A-manifest, S-waiting-on-bors, Command-add

#14711 docs(ci): Don't constrainty latest_deps job by MSRV
  src/doc/src/guide/continuous-integration.md
Labels: A-documenting-cargo-itself, S-waiting-on-bors

#14707 test: add fixes in the sat resolver
  crates/resolver-tests/src/sat.rs
Labels: A-dependency-resolution, S-waiting-on-bors

#14725 docs(resolver): Make room for v3 resolver
  src/doc/src/reference/resolver.md
Labels: A-documenting-cargo-itself, S-waiting-on-bors

#14728 refactor(fingerprint): avoid unnecessary fopen calls
  src/cargo/core/compiler/fingerprint/mod.rs
Labels: A-rebuild-detection, S-waiting-on-bors

#14726 feat(complete): Include descriptions in zsh
  Cargo.lock
  Cargo.toml
Labels: S-waiting-on-bors

#14715 fix: add source replacement info when no matching package found
  src/cargo/core/resolver/errors.rs
  tests/testsuite/build.rs
  tests/testsuite/directory.rs
  tests/testsuite/local_registry.rs
  tests/testsuite/offline.rs
  tests/testsuite/package.rs
  tests/testsuite/publish.rs
  tests/testsuite/registry.rs
  tests/testsuite/source_replacement.rs
  tests/testsuite/update.rs
Labels: A-dependency-resolution, S-waiting-on-bors

#14683 Added unstable-schema generation for Cargo.toml
  Cargo.lock
  Cargo.toml
  crates/cargo-util-schemas/Cargo.toml
  crates/cargo-util-schemas/manifest.schema.json
  crates/cargo-util-schemas/src/lib.rs
  crates/cargo-util-schemas/src/manifest/mod.rs
  crates/cargo-util-schemas/src/schema.rs
Labels: A-manifest, S-waiting-on-bors

#14701 Fix: trace `config` `[env]` table in dep-info.
  src/cargo/core/compiler/fingerprint/mod.rs
  src/cargo/core/compiler/mod.rs
  src/cargo/util/context/mod.rs
  tests/testsuite/cargo_env_config.rs
Labels: A-configuration, A-build-execution, A-rebuild-detection, S-waiting-on-bors

#14724 test(install): Verify 2024 edition / resolver=3 doesn't affect resolution
  crates/cargo-test-support/src/registry.rs
  tests/testsuite/rust_version.rs
Labels: A-testing-cargo-itself, S-waiting-on-bors

#14730 refactor(env): remove unnecessary clones
  src/cargo/core/compiler/fingerprint/mod.rs
  src/cargo/sources/git/utils.rs
  src/cargo/util/context/environment.rs
  src/cargo/util/context/mod.rs
Labels: A-git, A-configuration, A-rebuild-detection, A-environment-variables, S-waiting-on-bors

#14736 Deprecate `cargo verify-project`
  src/bin/cargo/commands/verify_project.rs
  src/doc/man/cargo-verify-project.md
  src/doc/man/cargo.md
  src/doc/man/generated_txt/cargo-verify-project.txt
  src/doc/man/generated_txt/cargo.txt
  src/doc/src/SUMMARY.md
  src/doc/src/commands/cargo-verify-project.md
  src/doc/src/commands/cargo.md
  src/doc/src/commands/manifest-commands.md
  src/etc/man/cargo-verify-project.1
  src/etc/man/cargo.1
  tests/testsuite/cargo_verify_project/help/stdout.term.svg
Labels: A-documenting-cargo-itself, Command-verify-project, S-waiting-on-bors, A-cli, A-cli-help

#14739 fix: clean up for deprecated and removed commands
  src/bin/cargo/commands/git_checkout.rs
  src/bin/cargo/commands/read_manifest.rs
  src/bin/cargo/commands/verify_project.rs
  src/doc/book.toml
  src/doc/src/SUMMARY.md
  src/doc/src/commands/deprecated-and-removed.md
  src/doc/src/commands/index.md
  src/etc/_cargo
  src/etc/cargo.bashcomp.sh
  tests/testsuite/cargo_command.rs
  tests/testsuite/cargo_read_manifest/help/stdout.term.svg
  tests/testsuite/cargo_verify_project/help/stdout.term.svg
Labels: A-documenting-cargo-itself, Command-git-checkout, Command-read-manifest, Command-verify-project, S-waiting-on-bors, A-completions, A-cli

#14742 fix(publish): Downgrade version-exists error to warning on dry-run
  src/cargo/ops/registry/publish.rs
  tests/testsuite/publish.rs
Labels: Command-publish, A-interacts-with-crates.io, S-waiting-on-bors

#14743 Allow build scripts to report error messages through `cargo::error`
  src/cargo/core/compiler/custom_build.rs
  src/cargo/core/compiler/job_queue/mod.rs
  src/doc/src/reference/build-scripts.md
  tests/testsuite/build_script.rs
  tests/testsuite/warn_on_failure.rs
Labels: A-documenting-cargo-itself, A-build-execution, A-build-scripts, S-waiting-on-bors

#14744 [beta-1.83] fix(publish): Downgrade version-exists error to warning on dry-run
  src/cargo/ops/registry/publish.rs
  tests/testsuite/publish.rs
Labels: Command-publish, A-interacts-with-crates.io, S-waiting-on-bors

#14745 docs(fingerprint): document the encoding of Cargo's depinfo
  src/cargo/core/compiler/fingerprint/dep_info.rs
  src/cargo/core/compiler/fingerprint/mod.rs
Labels: A-rebuild-detection, S-waiting-on-bors

#14317 Remove requirement for --target when invoking Cargo with -Zbuild-std
  src/cargo/core/compiler/build_config.rs
  src/doc/src/reference/unstable.md
  tests/build-std/main.rs
  tests/testsuite/mock-std/dep_test/Cargo.toml
  tests/testsuite/mock-std/dep_test/src/lib.rs
  tests/testsuite/mock-std/library/std/Cargo.toml
  tests/testsuite/standard_lib.rs
Labels: A-documenting-cargo-itself, S-waiting-on-bors

#14723 download targeted transitive deps of with artifact deps' target platform
  src/cargo/core/package.rs
  tests/testsuite/artifact_dep.rs
Labels: S-waiting-on-bors

#14748 test: Remove unused msrv-policy
  tests/testsuite/rust_version.rs
Labels: S-waiting-on-bors

#14751 fix: track version in fingerprint dep-info files
  crates/cargo-test-support/src/lib.rs
  src/cargo/core/compiler/fingerprint/dep_info.rs
Labels: A-rebuild-detection, A-testing-cargo-itself, S-waiting-on-bors

#14753 docs(resolver): Further v3 prep
  src/doc/src/reference/resolver.md
Labels: A-documenting-cargo-itself, S-waiting-on-bors

#14752 add unstable -Zroot-dir flag to configure the path from which rustc should be invoked
  src/cargo/core/features.rs
  src/cargo/util/workspace.rs
  src/doc/src/reference/unstable.md
  tests/testsuite/cargo/z_help/stdout.term.svg
  tests/testsuite/directory.rs
Labels: A-documenting-cargo-itself, A-workspaces, S-waiting-on-bors, A-unstable

#14759 refactor(test): Remove dead 'expect_stdout_contains_n' check
  crates/cargo-test-support/src/compare.rs
  crates/cargo-test-support/src/lib.rs
Labels: A-testing-cargo-itself, S-waiting-on-bors

#14760 test(doc): Resolve flaky test
  tests/testsuite/doc.rs
Labels: S-waiting-on-bors
