Repository rust-lang/cargo, pull requests merged in 2024-12, with the labels that each got.

#14880 fix: Remove default registry reference in `info` cmd docs
  src/bin/cargo/commands/info.rs
  src/doc/man/cargo-info.md
  src/doc/man/generated_txt/cargo-info.txt
  src/doc/src/commands/cargo-info.md
  src/etc/man/cargo-info.1
  tests/testsuite/cargo_info/help/stdout.term.svg
Labels: A-documenting-cargo-itself, S-waiting-on-review, A-cli, A-cli-help, Command-info

#14884 docs(ref): Finish a sentence on rust-versions
  src/doc/src/reference/rust-version.md
Labels: A-documenting-cargo-itself, S-waiting-on-review

#14885 chore: Bump to 0.86.0; update changelog
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Labels: S-waiting-on-review

#14887 test(pgo): only run on nightly
  tests/testsuite/pgo.rs
Labels: S-waiting-on-review

#14896 test(build-std): make mock-std closer to real world
  tests/testsuite/mock-std/library/compiler_builtins/src/lib.rs
  tests/testsuite/mock-std/library/core/src/lib.rs
  tests/testsuite/standard_lib.rs
Labels: S-waiting-on-review, Z-build-std

#14890 fix(fix): Migrate workspace dependencies
  src/cargo/ops/fix.rs
  tests/testsuite/fix.rs
Labels: Command-fix, S-waiting-on-review

#14895 fix(add): Don't select yanked versions when normalizing names
  src/cargo/sources/registry/mod.rs
  tests/testsuite/cargo_add/mod.rs
  tests/testsuite/cargo_add/normalize_name_git/in
  tests/testsuite/cargo_add/normalize_name_git/mod.rs
  tests/testsuite/cargo_add/normalize_name_git/out/Cargo.toml
  tests/testsuite/cargo_add/normalize_name_git/stderr.term.svg
  tests/testsuite/cargo_add/normalize_name_path/in/dependency/Cargo.toml
  tests/testsuite/cargo_add/normalize_name_path/in/dependency/src/lib.rs
  tests/testsuite/cargo_add/normalize_name_path/in/primary/Cargo.toml
  tests/testsuite/cargo_add/normalize_name_path/in/primary/src/lib.rs
  tests/testsuite/cargo_add/normalize_name_path/mod.rs
  tests/testsuite/cargo_add/normalize_name_path/out/dependency/Cargo.toml
  tests/testsuite/cargo_add/normalize_name_path/out/primary/Cargo.toml
  tests/testsuite/cargo_add/normalize_name_path/stderr.term.svg
  tests/testsuite/cargo_add/normalize_name_path_existing/in/Cargo.lock
  tests/testsuite/cargo_add/normalize_name_path_existing/in/Cargo.toml
  tests/testsuite/cargo_add/normalize_name_path_existing/in/fuzzy_name/Cargo.toml
  tests/testsuite/cargo_add/normalize_name_path_existing/in/fuzzy_name/src/lib.rs
  tests/testsuite/cargo_add/normalize_name_path_existing/in/primary/Cargo.toml
  tests/testsuite/cargo_add/normalize_name_path_existing/in/primary/src/lib.rs
  tests/testsuite/cargo_add/normalize_name_path_existing/mod.rs
  tests/testsuite/cargo_add/normalize_name_path_existing/out/Cargo.toml
  tests/testsuite/cargo_add/normalize_name_path_existing/out/primary/Cargo.toml
  tests/testsuite/cargo_add/normalize_name_path_existing/out/primary/src/lib.rs
  tests/testsuite/cargo_add/normalize_name_path_existing/stderr.term.svg
  tests/testsuite/cargo_add/normalize_name_registry/in
  tests/testsuite/cargo_add/normalize_name_registry/mod.rs
  tests/testsuite/cargo_add/normalize_name_registry/out/Cargo.toml
  tests/testsuite/cargo_add/normalize_name_registry/stderr.term.svg
  tests/testsuite/cargo_add/normalize_name_registry_existing/in/Cargo.toml
  tests/testsuite/cargo_add/normalize_name_registry_existing/in/src/lib.rs
  tests/testsuite/cargo_add/normalize_name_registry_existing/mod.rs
  tests/testsuite/cargo_add/normalize_name_registry_existing/out/Cargo.toml
  tests/testsuite/cargo_add/normalize_name_registry_existing/stderr.term.svg
  tests/testsuite/cargo_add/normalize_name_registry_yanked/in
  tests/testsuite/cargo_add/normalize_name_registry_yanked/mod.rs
  tests/testsuite/cargo_add/normalize_name_registry_yanked/out/Cargo.toml
  tests/testsuite/cargo_add/normalize_name_registry_yanked/stderr.term.svg
  tests/testsuite/cargo_add/normalize_name_workspace_dep/in/Cargo.toml
  tests/testsuite/cargo_add/normalize_name_workspace_dep/in/primary/Cargo.toml
  tests/testsuite/cargo_add/normalize_name_workspace_dep/in/primary/src/lib.rs
  tests/testsuite/cargo_add/normalize_name_workspace_dep/mod.rs
  tests/testsuite/cargo_add/normalize_name_workspace_dep/out/Cargo.toml
  tests/testsuite/cargo_add/normalize_name_workspace_dep/out/primary/Cargo.toml
  tests/testsuite/cargo_add/normalize_name_workspace_dep/out/primary/src/lib.rs
  tests/testsuite/cargo_add/normalize_name_workspace_dep/stderr.term.svg
  tests/testsuite/cargo_add/yanked/in
  tests/testsuite/cargo_add/yanked/mod.rs
  tests/testsuite/cargo_add/yanked/out/Cargo.toml
  tests/testsuite/cargo_add/yanked/stderr.term.svg
Labels: A-registries, S-waiting-on-review

#14898 docs(fingerprint): cargo-rustc extra flags do not affect the metadata
  src/cargo/core/compiler/fingerprint/mod.rs
  tests/testsuite/rustflags.rs
Labels: A-rebuild-detection, S-waiting-on-review

#14901 fix(build-rs)!: Remove meaningless 'cargo_cfg_debug_assertions'
  Cargo.lock
  Cargo.toml
  crates/build-rs-test-lib/build.rs
  crates/build-rs/Cargo.toml
  crates/build-rs/src/input.rs
Labels: S-waiting-on-review

#14830 fix(fingerprint): Don't throwaway the cache on RUSTFLAGS changes
  src/cargo/core/compiler/build_runner/compilation_files.rs
  src/cargo/core/compiler/fingerprint/mod.rs
  src/cargo/util/hasher.rs
  tests/testsuite/config_include.rs
  tests/testsuite/freshness.rs
  tests/testsuite/freshness_checksum.rs
  tests/testsuite/pgo.rs
  tests/testsuite/rustc.rs
Labels: A-rebuild-detection, S-waiting-on-review, A-layout

#14849 SemVer: Add section on RPIT capturing
  src/doc/src/reference/semver.md
Labels: A-documenting-cargo-itself, S-waiting-on-review

#14899 fix(build-std): determine root crates by target spec `std:bool`
  .github/workflows/main.yml
  src/cargo/core/compiler/standard_lib.rs
  src/cargo/core/features.rs
  src/cargo/ops/cargo_compile/mod.rs
  src/cargo/ops/cargo_fetch.rs
  tests/testsuite/standard_lib.rs
Labels: Command-fetch, S-waiting-on-review, A-unstable, A-infrastructure

#14908 refactor: use Path::push to construct remap-path-prefix
  src/cargo/core/compiler/mod.rs
Labels: A-build-execution, S-waiting-on-review, Z-trim-paths

#14912 chore: update auto-label to include build-rs crate
  triagebot.toml
Labels: S-waiting-on-review, A-infrastructure

#14913 fix(build-rs): Correctly refer to the item in assert
  crates/build-rs/src/output.rs
Labels: S-waiting-on-review

#14902 feat(build-script): Pass CARGO_CFG_FEATURE
  crates/build-rs-test-lib/build.rs
  crates/build-rs/src/input.rs
  crates/build-rs/src/lib.rs
  src/cargo/core/compiler/custom_build.rs
  src/doc/src/reference/environment-variables.md
  tests/testsuite/build_script.rs
Labels: A-documenting-cargo-itself, A-build-scripts, T-cargo, final-comment-period, disposition-merge, S-waiting-on-review

#14915 a faster hash for ActivationsKey
  src/cargo/core/resolver/context.rs
  src/cargo/core/resolver/types.rs
Labels: A-dependency-resolution, S-waiting-on-review

#14911 fix(build-rs): Implicitly report rerun-if-env-changed for input
  crates/build-rs/src/input.rs
Labels: A-build-scripts, S-waiting-on-review

#14897 fix(resolver): Report unmatched versions, rather than saying no package
  crates/resolver-tests/src/lib.rs
  src/cargo/core/registry.rs
  src/cargo/core/resolver/errors.rs
  src/cargo/sources/directory.rs
  src/cargo/sources/path.rs
  src/cargo/sources/registry/index/mod.rs
  src/cargo/sources/registry/mod.rs
  src/cargo/sources/source.rs
  tests/testsuite/registry.rs
Labels: A-dependency-resolution, A-registries, S-waiting-on-review, A-directory-source

#14921 fix(resolver): Don't report all versions as rejected
  crates/resolver-tests/src/lib.rs
  src/cargo/core/resolver/errors.rs
  src/cargo/sources/directory.rs
  src/cargo/sources/path.rs
  src/cargo/sources/registry/mod.rs
  src/cargo/sources/source.rs
Labels: A-dependency-resolution, A-registries, S-waiting-on-review, A-directory-source

#14917 feature(SourceId): use stable hash from rustc-stable-hash
  Cargo.lock
  Cargo.toml
  src/cargo/core/compiler/build_runner/compilation_files.rs
  src/cargo/core/compiler/compile_kind.rs
  src/cargo/core/compiler/fingerprint/mod.rs
  src/cargo/core/source_id.rs
  src/cargo/ops/cargo_compile/mod.rs
  src/cargo/util/hasher.rs
  src/cargo/util/hex.rs
  src/cargo/util/rustc.rs
  tests/testsuite/global_cache_tracker.rs
Labels: A-caching, A-rebuild-detection, S-waiting-on-review, A-cache-messages, A-layout

#14925 fix(script): Don't override the release profile
  src/cargo/util/toml/embedded.rs
Labels: S-waiting-on-review

#14926 fix: emit_serialized_unit_graph uses the configured shell
  src/cargo/core/compiler/unit_graph.rs
Labels: S-waiting-on-review

#14923 fix(resolver): In errors, show rejected versions over alt versions
  src/cargo/core/resolver/errors.rs
  tests/testsuite/artifact_dep.rs
  tests/testsuite/registry.rs
Labels: A-dependency-resolution, S-waiting-on-review

#14928 feat: Implement `--depth workspace` for `cargo tree` command
  src/bin/cargo/commands/tree.rs
  src/cargo/core/workspace.rs
  src/cargo/ops/tree/mod.rs
  src/doc/man/cargo-tree.md
  src/doc/man/generated_txt/cargo-tree.txt
  src/doc/src/commands/cargo-tree.md
  src/etc/man/cargo-tree.1
  tests/testsuite/tree.rs
Labels: A-documenting-cargo-itself, A-workspaces, S-waiting-on-review, A-cli, A-cli-help, Command-tree

#14927 fix(resolver): Report invalid index entries
  Cargo.lock
  Cargo.toml
  crates/cargo-test-support/Cargo.toml
  crates/cargo-test-support/src/registry.rs
  src/cargo/core/resolver/errors.rs
  src/cargo/sources/registry/index/mod.rs
  src/cargo/sources/registry/mod.rs
  tests/testsuite/registry.rs
Labels: A-dependency-resolution, A-registries, A-testing-cargo-itself, S-waiting-on-review

#14931 fix(base): Support bases in patches in virtual manifests
  crates/cargo-util-schemas/src/manifest/mod.rs
  src/cargo/util/toml/mod.rs
  tests/testsuite/features_namespaced.rs
  tests/testsuite/patch.rs
  tests/testsuite/publish.rs
  tests/testsuite/weak_dep_features.rs
Labels: A-manifest, S-waiting-on-review

#14933 test(build-std): dont require rustup
  tests/testsuite/standard_lib.rs
Labels: S-waiting-on-review

#14940 Limit release trigger to 0.* tags
  .github/workflows/release.yml
Labels: S-waiting-on-review, A-infrastructure

#14939 Update release information for home 0.5.11
  crates/home/CHANGELOG.md
  crates/home/README.md
Labels: A-environment-variables, S-waiting-on-review, A-home

#14945 docs(unstable): Correct stabilization version for MSRV-resolver
  src/doc/src/reference/unstable.md
Labels: A-documenting-cargo-itself, S-waiting-on-review

#14947 docs: fix wrong changelog PR link
  CHANGELOG.md
Labels: S-waiting-on-review

#14943 test(build-std): Isolate output test to avoid spurious `[BLOCKING]` messages from concurrent runs
  tests/build-std/main.rs
Labels: S-waiting-on-review, Z-build-std

#14938 fix(build-std): make Resolve align to what to build
  src/cargo/core/compiler/build_context/target_info.rs
  src/cargo/core/compiler/standard_lib.rs
  src/cargo/ops/cargo_compile/mod.rs
  src/cargo/ops/cargo_fetch.rs
  tests/build-std/main.rs
Labels: Command-fetch, S-waiting-on-review, Z-build-std, A-cfg-expr

#14951 Do not hash absolute sysroot path into stdlib crates metadata.
  src/cargo/core/compiler/build_runner/compilation_files.rs
Labels: S-waiting-on-review, Z-build-std, A-reproducibility, A-layout

#14960 fix(cargo-package): add more traces
  src/cargo/ops/cargo_package.rs
  src/cargo/sources/path.rs
Labels: Command-package, S-waiting-on-review

#14959 refactor(cargo-package): let-else to flatten code
  src/cargo/ops/cargo_package.rs
  tests/testsuite/publish_lockfile.rs
Labels: Command-package, S-waiting-on-review

#14963 Add the `test` cfg as a well known cfg before of compiler change
  src/cargo/core/compiler/mod.rs
  tests/testsuite/check_cfg.rs
Labels: A-build-execution, S-waiting-on-review

#14968 fix(package): show dirty filepaths relative to git workdir
  src/cargo/ops/cargo_package.rs
  tests/testsuite/package.rs
Labels: Command-package, S-waiting-on-review

#14972 Enable triagebot merge conflict notifications
  triagebot.toml
Labels: S-waiting-on-review, A-infrastructure

#14970 fix(package): use relpath to cwd for vcs dirtiness report
  src/cargo/ops/cargo_package.rs
  tests/testsuite/package.rs
Labels: Command-package, S-waiting-on-review

#14975 upgrade `gix` to the latest release 0.69.
  Cargo.lock
  Cargo.toml
  src/cargo/sources/git/oxide.rs
  src/cargo/sources/git/utils.rs
Labels: A-git, S-waiting-on-review

#14800 simplify SourceID Hash
  src/cargo/core/source_id.rs
Labels: S-waiting-on-review

#14977 fix: assure possibly blocking non-files (like FIFOs) won't be picked up for publishing.
  src/cargo/sources/path.rs
  tests/testsuite/git.rs
  tests/testsuite/package.rs
Labels: S-waiting-on-review

#14973 Moved manifest metadata tracking from fingerprint to dep info
  src/cargo/core/compiler/compilation.rs
  src/cargo/core/compiler/fingerprint/dep_info.rs
  src/cargo/core/compiler/fingerprint/dirty_reason.rs
  src/cargo/core/compiler/fingerprint/mod.rs
  src/cargo/core/manifest.rs
  tests/testsuite/freshness.rs
  tests/testsuite/freshness_checksum.rs
Labels: A-build-execution, A-rebuild-detection, A-manifest, S-waiting-on-review

#14979 test: make path arguments more generic and flexible
  crates/cargo-test-support/src/lib.rs
  tests/testsuite/binary_name.rs
  tests/testsuite/dep_info.rs
Labels: A-testing-cargo-itself, S-waiting-on-review

#14966 fix(package): check dirtiness of path fields in manifest
  src/cargo/ops/cargo_package.rs
  tests/testsuite/package.rs
Labels: Command-package, S-waiting-on-review

#14982 refactor(package): split `cargo_package` to modules
  src/cargo/ops/cargo_package/mod.rs
  src/cargo/ops/cargo_package/vcs.rs
  src/cargo/ops/cargo_package/verify.rs
  triagebot.toml
Labels: Command-package, S-waiting-on-review, A-infrastructure

#14990 test: relax `bad_crate_type` to only match error message prefix
  tests/testsuite/bad_config.rs
Labels: S-waiting-on-review

#14989 test: relax panic output assertion
  tests/build-std/main.rs
  tests/testsuite/build_script.rs
Labels: S-waiting-on-review

#14992 test: track caller for `.crate` file publish verification
  crates/cargo-test-support/src/publish.rs
Labels: A-testing-cargo-itself, S-waiting-on-review

#14994 fix(package): warn if symlinks checked out as plain text files
  src/cargo/ops/cargo_package/mod.rs
  src/cargo/ops/cargo_package/vcs.rs
  src/cargo/ops/vendor.rs
  src/cargo/sources/mod.rs
  src/cargo/sources/path.rs
  tests/testsuite/package.rs
Labels: A-git, Command-package, S-waiting-on-review, Command-vendor

#14981 fix(package): check dirtiness of symlinks source files
  crates/cargo-util/src/paths.rs
  src/cargo/ops/cargo_package/vcs.rs
  src/cargo/sources/path.rs
  tests/testsuite/package.rs
Labels: A-git, Command-package, S-waiting-on-review, Command-vendor
