Repository rust-lang/cargo, pull requests merged in 2025-05, with the labels that each got.

#15472 docs: fix a typo in DependencyUI
  src/cargo/ops/cargo_add/mod.rs
Labels: S-waiting-on-review, Command-add

#15470 In package-workspace, keep dev-dependencies if they have a version
  src/cargo/ops/cargo_package/mod.rs
  tests/testsuite/package.rs
Labels: Command-package, S-waiting-on-review

#15478 Update fingerprint footnote
  src/cargo/core/compiler/fingerprint/mod.rs
Labels: A-rebuild-detection, S-waiting-on-review

#15192 fix: default to all targets when using `--edition` and ` --edition-idioms` in cargo fix
  src/bin/cargo/commands/fix.rs
  tests/testsuite/fix.rs
Labels: T-cargo, Command-fix, finished-final-comment-period, disposition-merge, S-waiting-on-review, A-cli, to-announce

#15485 chore: fix some typos in comment
  src/cargo/core/compiler/mod.rs
  src/cargo/util/toml_mut/manifest.rs
  src/doc/src/reference/unstable.md
  tests/testsuite/build_script.rs
Labels: A-documenting-cargo-itself, A-build-execution, A-manifest, S-waiting-on-review

#15484 Improved error message for versions prefixed with `v`
  src/bin/cargo/commands/install.rs
  src/bin/cargo/commands/yank.rs
  src/cargo/core/source_id.rs
  src/cargo/ops/cargo_add/crate_spec.rs
  tests/testsuite/cargo_add/mod.rs
  tests/testsuite/cargo_add/prefixed_v_in_version/in
  tests/testsuite/cargo_add/prefixed_v_in_version/mod.rs
  tests/testsuite/cargo_add/prefixed_v_in_version/out/Cargo.toml
  tests/testsuite/cargo_add/prefixed_v_in_version/stderr.term.svg
  tests/testsuite/install.rs
  tests/testsuite/update.rs
  tests/testsuite/yank.rs
Labels: Command-install, Command-yank, S-waiting-on-review, A-cli, Command-add

#15492 Refactor artifact deps in FeatureResolver::deps
  src/cargo/core/resolver/features.rs
Labels: A-dependency-resolution, S-waiting-on-review, A-features2

#15378 Add support for `-Zembed-metadata`
  src/cargo/core/compiler/build_context/target_info.rs
  src/cargo/core/compiler/build_runner/compilation_files.rs
  src/cargo/core/compiler/crate_type.rs
  src/cargo/core/compiler/mod.rs
  src/cargo/core/compiler/unit.rs
  src/cargo/core/features.rs
  src/cargo/core/manifest.rs
  src/cargo/ops/cargo_clean.rs
  src/doc/src/reference/unstable.md
  tests/testsuite/build.rs
  tests/testsuite/cargo/z_help/stdout.term.svg
Labels: A-documenting-cargo-itself, Command-clean, A-build-execution, A-manifest, S-waiting-on-review, A-cfg-expr, A-layout, A-crate-types, A-unstable

#15498 test: Remove unused nightly requirements
  tests/testsuite/fix.rs
  tests/testsuite/lockfile_path.rs
  tests/testsuite/new.rs
  tests/testsuite/script.rs
Labels: S-waiting-on-review

#15497 fix(rustc): Don't panic on unknown bins
  src/cargo/ops/cargo_compile/unit_generator.rs
  tests/testsuite/rustc.rs
Labels: S-waiting-on-review, A-cargo-targets

#15500 [beta-1.87] fix(rustc): Don't panic on unknown bins
  src/cargo/ops/cargo_compile/unit_generator.rs
  tests/testsuite/build_script.rs
  tests/testsuite/cross_compile.rs
  tests/testsuite/custom_target.rs
  tests/testsuite/rustc.rs
  tests/testsuite/standard_lib.rs
  tests/testsuite/test.rs
Labels: S-waiting-on-review, A-cargo-targets

#15496 Make cargo script ignore workspaces
  src/cargo/util/toml/mod.rs
  tests/testsuite/script.rs
Labels: A-manifest, S-waiting-on-review

#15504 CI: Require schema job to pass
  .github/workflows/main.yml
Labels: S-waiting-on-review, A-infrastructure

#15463 feat(network): use Retry-After header for HTTP 429 responses
  crates/cargo-test-support/src/registry.rs
  src/cargo/util/network/retry.rs
  tests/testsuite/registry.rs
Labels: A-testing-cargo-itself, A-networking, S-waiting-on-review

#15480 doc: Update instructions on using native-completions
  src/doc/src/reference/unstable.md
Labels: A-documenting-cargo-itself, S-waiting-on-review

#15511 docs: update version notice for deprecation removal
  crates/home/README.md
Labels: A-environment-variables, S-waiting-on-review, A-home

#15512 Revert "doc: Mention `XDG_DATA_HOME`"
  src/doc/src/reference/unstable.md
Labels: A-documenting-cargo-itself, S-waiting-on-review

#15515 [beta-1.88] fix(rustc): Don't panic on unknown bins
  src/cargo/ops/cargo_compile/unit_generator.rs
  tests/testsuite/rustc.rs
Labels: S-waiting-on-review, A-cargo-targets

#15508 add glob pattern support for known_hosts
  src/cargo/sources/git/known_hosts.rs
Labels: A-git, S-waiting-on-review

#15517 chore(triagebot): add `[no-mentions]` and `[note]`
  triagebot.toml
Labels: S-waiting-on-review, A-infrastructure

#15520 chore: bump to 0.90.0; update changelog
  Cargo.lock
  Cargo.toml
  src/doc/src/CHANGELOG.md
Labels: A-documenting-cargo-itself, S-waiting-on-review

#15525 feat: skip `publish=false` pkg when publishing entire workspace
  src/cargo/ops/registry/publish.rs
  tests/testsuite/publish.rs
Labels: Command-publish, A-interacts-with-crates.io, S-waiting-on-review

#15462 Stabilize doctest-xcompile
  src/cargo/core/features.rs
  src/cargo/ops/cargo_test.rs
  src/doc/src/reference/unstable.md
  tests/testsuite/artifact_dep.rs
  tests/testsuite/build_script.rs
  tests/testsuite/cargo/z_help/stdout.term.svg
  tests/testsuite/cross_compile.rs
  tests/testsuite/custom_target.rs
  tests/testsuite/standard_lib.rs
  tests/testsuite/test.rs
Labels: A-documenting-cargo-itself, Command-test, T-cargo, finished-final-comment-period, disposition-merge, S-waiting-on-review, A-unstable, to-announce

#15557 Update dependencies
  Cargo.lock
  Cargo.toml
  src/cargo/ops/cargo_install.rs
  tests/testsuite/cargo_update/help/stdout.term.svg
Labels: Command-install, S-waiting-on-review

#15522 fix: remove unnecessary workaround in standard_lib test
  tests/testsuite/standard_lib.rs
Labels: S-waiting-on-review

#15514 fix(vendor)!: direct extraction for registry sources
  src/cargo/ops/vendor.rs
  src/cargo/sources/registry/mod.rs
  tests/testsuite/vendor.rs
Labels: A-registries, S-waiting-on-review, Command-vendor

#15569 fix(vendor)!: vendor files with .rej/.orig suffix
  src/cargo/ops/vendor.rs
  tests/testsuite/vendor.rs
Labels: S-waiting-on-review, Command-vendor

#15570 fix(toml): Remove workaround for rustc frontmatter support
  src/cargo/core/compiler/mod.rs
  src/cargo/util/toml/embedded.rs
  src/cargo/util/toml/mod.rs
  tests/testsuite/fix.rs
  tests/testsuite/lockfile_path.rs
  tests/testsuite/open_namespaces.rs
  tests/testsuite/script.rs
Labels: A-build-execution, A-manifest, S-waiting-on-review

#15575 chore(gh): Add new-lint issue template
  .github/ISSUE_TEMPLATE/new_lint.yml
Labels: S-waiting-on-review, A-infrastructure

#15597 docs(README): fix the link to the changelog in the Cargo book
  README.md
Labels: S-waiting-on-review

#15598 chore(toml): disable `toml`'s default features, unless necessary
  Cargo.toml
  benches/capture/Cargo.toml
  crates/cargo-test-support/Cargo.toml
Labels: A-testing-cargo-itself, S-waiting-on-review

#15602 chore: Upgrade schemars
  Cargo.lock
  Cargo.toml
  crates/cargo-util-schemas/manifest.schema.json
Labels: S-waiting-on-review

#15573 fix(embedded): Resolve multiple bugs in frontmatter parser
  src/cargo/util/toml/embedded.rs
Labels: S-waiting-on-review

#15601 refactor: separate "global" mode from CompileMode
  src/bin/cargo/commands/bench.rs
  src/bin/cargo/commands/build.rs
  src/bin/cargo/commands/check.rs
  src/bin/cargo/commands/doc.rs
  src/bin/cargo/commands/fix.rs
  src/bin/cargo/commands/install.rs
  src/bin/cargo/commands/run.rs
  src/bin/cargo/commands/rustc.rs
  src/bin/cargo/commands/rustdoc.rs
  src/bin/cargo/commands/test.rs
  src/cargo/core/compiler/build_config.rs
  src/cargo/core/compiler/build_context/target_info.rs
  src/cargo/core/compiler/build_runner/compilation_files.rs
  src/cargo/core/compiler/build_runner/mod.rs
  src/cargo/core/compiler/custom_build.rs
  src/cargo/core/compiler/lto.rs
  src/cargo/core/compiler/mod.rs
  src/cargo/core/compiler/timings.rs
  src/cargo/core/compiler/unit_dependencies.rs
  src/cargo/ops/cargo_compile/compile_filter.rs
  src/cargo/ops/cargo_compile/mod.rs
  src/cargo/ops/cargo_compile/unit_generator.rs
  src/cargo/ops/cargo_fetch.rs
  src/cargo/ops/cargo_package/verify.rs
  src/cargo/util/command_prelude.rs
  tests/testsuite/build.rs
  tests/testsuite/member_errors.rs
Labels: A-build-execution, S-waiting-on-review, A-cargo-targets

#15608 refactor: cleanup for `CompileMode`
  src/cargo/core/compiler/build_config.rs
  src/cargo/core/compiler/build_runner/compilation_files.rs
  src/cargo/core/compiler/mod.rs
  src/cargo/core/compiler/rustdoc.rs
  src/cargo/core/compiler/unit_dependencies.rs
  src/cargo/ops/cargo_compile/mod.rs
  src/cargo/ops/cargo_compile/unit_generator.rs
  tests/testsuite/test.rs
Labels: A-build-execution, S-waiting-on-review, A-layout, A-cargo-targets

#15613 chore: remove HTML comments and inline guide
  .github/PULL_REQUEST_TEMPLATE.md
Labels: S-waiting-on-review, A-infrastructure
