Repository rust-lang/cargo, pull requests merged in 2025-07, with the labels that each got.

#15722 chore: Upgrade dependencies
  Cargo.lock
  Cargo.toml
  crates/cargo-util-schemas/manifest.schema.json
  crates/cargo-util-schemas/src/core/package_id_spec.rs
  crates/cargo-util-schemas/src/manifest/mod.rs
  crates/cargo-util/src/process_builder.rs
Labels: A-manifest, S-waiting-on-review

#15729 test: Switch config tests to use snapshots
  tests/testsuite/config.rs
  tests/testsuite/config_cli.rs
Labels: S-waiting-on-review

#15731 Clarify package ID specifications in SBOMs are fully qualified
  src/doc/src/reference/pkgid-spec.md
  src/doc/src/reference/unstable.md
  tests/testsuite/pkgid.rs
Labels: A-documenting-cargo-itself, S-waiting-on-review

#15636 feat(publish): Stabilize multi-package publishing
  src/bin/cargo/commands/package.rs
  src/bin/cargo/commands/publish.rs
  src/cargo/core/features.rs
  src/cargo/ops/cargo_package/mod.rs
  src/cargo/ops/registry/publish.rs
  src/doc/man/cargo-publish.md
  src/doc/man/generated_txt/cargo-publish.txt
  src/doc/src/commands/cargo-publish.md
  src/etc/man/cargo-publish.1
  tests/testsuite/cargo/z_help/stdout.term.svg
  tests/testsuite/cargo_package/help/stdout.term.svg
  tests/testsuite/cargo_publish/help/stdout.term.svg
  tests/testsuite/package.rs
  tests/testsuite/publish.rs
  tests/testsuite/workspaces.rs
Labels: A-documenting-cargo-itself, Command-publish, A-interacts-with-crates.io, Command-package, T-cargo, finished-final-comment-period, disposition-merge, S-waiting-on-review, A-cli, A-cli-help, A-unstable, to-announce

#15704 feat: Implementation and tests for `multiple-build-scripts`
  src/cargo/core/compiler/build_runner/mod.rs
  src/cargo/core/compiler/compilation.rs
  src/cargo/core/compiler/custom_build.rs
  src/cargo/core/compiler/job_queue/mod.rs
  src/cargo/core/compiler/mod.rs
  src/cargo/core/compiler/output_depinfo.rs
  src/cargo/core/compiler/unit_dependencies.rs
  src/cargo/ops/cargo_run.rs
  src/cargo/ops/cargo_test.rs
  tests/testsuite/build_scripts_multiple.rs
Labels: Command-test, Command-run, A-build-execution, A-build-scripts, S-waiting-on-review, A-dep-info

#15673 Add `[hints]` table in `Cargo.toml`, and a `hints.mostly-unused` hint
  Cargo.lock
  Cargo.toml
  crates/cargo-util-schemas/Cargo.toml
  crates/cargo-util-schemas/manifest.schema.json
  crates/cargo-util-schemas/src/manifest/mod.rs
  src/cargo/core/compiler/mod.rs
  src/cargo/core/manifest.rs
  src/cargo/core/package.rs
  src/cargo/core/profiles.rs
  src/cargo/sources/registry/index/cache.rs
  src/cargo/util/toml/mod.rs
  src/doc/src/reference/manifest.md
  src/doc/src/reference/unstable.md
  tests/testsuite/hints.rs
  tests/testsuite/main.rs
  tests/testsuite/profiles.rs
Labels: A-documenting-cargo-itself, A-build-execution, A-profiles, A-registries, T-cargo, A-manifest, finished-final-comment-period, disposition-merge, S-waiting-on-review, A-unstable, to-announce

#15753 Expose artifact dependency getters in cargo-as-a-library
  src/cargo/core/dependency.rs
Labels: A-crate-dependencies, S-waiting-on-review

#15767 cargo-credential-libsecret: give FFI correctly-sized object
  credential/cargo-credential-libsecret/src/lib.rs
Labels: S-waiting-on-review, A-credential-provider

#15764 fix: `no-proc-macro` is overridden by subsequent edges
  src/bin/cargo/commands/tree.rs
  tests/testsuite/cargo_tree/deps.rs
Labels: S-waiting-on-review, A-cli, Command-tree

#15766 Make timings graphs scalable to user's window
  src/cargo/core/compiler/timings.js
  src/cargo/core/compiler/timings.rs
Labels: S-waiting-on-review, A-timings

#15770 feat(schema): Expose `IndexPackage`, the description of a package within a Registry Index
  crates/cargo-util-schemas/Cargo.toml
  crates/cargo-util-schemas/index.schema.json
  crates/cargo-util-schemas/src/index.rs
  crates/cargo-util-schemas/src/lib.rs
  src/cargo/ops/cargo_package/mod.rs
  src/cargo/sources/registry/index/mod.rs
  src/cargo/sources/registry/mod.rs
Labels: Command-package, A-registries, S-waiting-on-review

#15787 chore: fix some minor issues in comments
  src/cargo/core/profiles.rs
  src/cargo/ops/vendor.rs
  src/cargo/util/semver_eval_ext.rs
  tests/build-std/main.rs
Labels: A-profiles, S-waiting-on-review, Command-vendor
