Repository rust-lang/cargo, pull requests merged in 2025-03, with the labels that each got.

#15248 [beta-1.86] Ensure we can package directories ending with '.rs'
  src/cargo/util/toml/mod.rs
  tests/testsuite/package.rs
  tests/testsuite/script.rs
Labels: A-manifest, S-waiting-on-review, A-infrastructure

#15247 feat(cli): forward bash completions of third party subcommands
  src/etc/cargo.bashcomp.sh
Labels: S-waiting-on-review, A-completions

#15254 Fix typo in build-scripts.md
  src/doc/src/reference/build-scripts.md
Labels: A-documenting-cargo-itself, S-waiting-on-review

#15256 Small cleanup: remove unneeded result
  src/cargo/core/compiler/job_queue/job_state.rs
  src/cargo/core/compiler/mod.rs
Labels: A-build-execution, S-waiting-on-review

#15253 Remove `Cargo.toml` from `package.include` in example
  src/doc/src/reference/publishing.md
Labels: A-documenting-cargo-itself, S-waiting-on-review

#15257 docs: lockfile is always included since 1.84
  src/doc/src/reference/manifest.md
Labels: A-documenting-cargo-itself, S-waiting-on-review

#15260 fix(vendor): dont remove non-cached source
  src/bin/cargo/commands/vendor.rs
  src/cargo/ops/vendor.rs
  tests/testsuite/vendor.rs
Labels: S-waiting-on-review, Command-vendor, A-cli

#15242 feat(tree): Color the output
  src/cargo/ops/tree/mod.rs
  tests/testsuite/cargo_tree/deps.rs
  tests/testsuite/cargo_tree/dupe/mod.rs
  tests/testsuite/cargo_tree/dupe/stderr.term.svg
  tests/testsuite/cargo_tree/dupe/stdout.term.svg
  tests/testsuite/cargo_tree/edge_kind/mod.rs
  tests/testsuite/cargo_tree/edge_kind/stderr.term.svg
  tests/testsuite/cargo_tree/edge_kind/stdout.term.svg
  tests/testsuite/cargo_tree/features.rs
  tests/testsuite/cargo_tree/mod.rs
  tests/testsuite/main.rs
Labels: S-waiting-on-review, Command-tree

#15263 fix: Respect --frozen everywhere --offline or --locked is accepted
  src/cargo/core/resolver/errors.rs
  src/cargo/ops/cargo_add/mod.rs
  src/cargo/ops/cargo_install.rs
  src/cargo/ops/lockfile.rs
  src/cargo/ops/registry/info/mod.rs
  src/cargo/sources/git/source.rs
  src/cargo/sources/git/utils.rs
  src/cargo/sources/registry/http_remote.rs
  src/cargo/sources/registry/index/mod.rs
  src/cargo/sources/registry/remote.rs
  src/cargo/util/context/mod.rs
  src/cargo/util/network/http.rs
  tests/testsuite/offline.rs
  tests/testsuite/registry.rs
Labels: A-git, A-configuration, Command-install, A-interacts-with-crates.io, A-dependency-resolution, A-registries, A-networking, S-waiting-on-review, A-lockfile, Command-add, A-sparse-registry, Command-info

#15268 Upgrade to `rustc-stable-hash v0.1.2`
  Cargo.lock
  Cargo.toml
Labels: S-waiting-on-review

#15269 feat: show extra build description from bootstrap
  src/cargo/version.rs
Labels: S-waiting-on-review

#15271 Don't use `$CARGO_BUILD_TARGET` in `cargo metadata`
  src/cargo/core/compiler/compile_kind.rs
  src/cargo/core/compiler/mod.rs
  src/cargo/ops/cargo_output_metadata.rs
  tests/testsuite/metadata.rs
Labels: Command-metadata, A-build-execution, S-waiting-on-review

#15243 feat(tree): Add `--depth public` behind `-Zunstable-options`
  src/cargo/ops/tree/graph.rs
  src/cargo/ops/tree/mod.rs
  tests/testsuite/cargo_tree/deps.rs
  tests/testsuite/cargo_tree/features.rs
Labels: S-waiting-on-review, Command-tree

#15276 fix(package): report lockfile / workspace manifest is dirty
  src/cargo/ops/cargo_package/mod.rs
  src/cargo/ops/cargo_package/vcs.rs
  tests/testsuite/package.rs
Labels: A-git, Command-package, S-waiting-on-review

#15266 feat: add completions for install --path
  src/bin/cargo/commands/install.rs
Labels: Command-install, S-waiting-on-review, A-cli

#15279 test: redact host target when comparing CARGO_ENV path
  tests/testsuite/cargo_command.rs
Labels: S-waiting-on-review

#15280 Typo fixes
  src/doc/src/faq.md
Labels: A-documenting-cargo-itself, S-waiting-on-review

#15284 docs: spelling and grammar fixes
  src/doc/contrib/src/implementation/schemas.md
  src/doc/contrib/src/process/rfc.md
  src/doc/contrib/src/tests/crater.md
  src/doc/src/CHANGELOG.md
  src/doc/src/reference/resolver.md
Labels: A-documenting-cargo-itself, S-waiting-on-review

#15287 Allow `term.progress.when` to default
  src/cargo/util/context/mod.rs
  tests/testsuite/progress.rs
Labels: A-configuration, S-waiting-on-review

#15288 feat: add completions for add --path
  src/bin/cargo/commands/add.rs
Labels: S-waiting-on-review, A-cli, Command-add

#14615 Add terminal integration via ANSI OSC 9;4 sequences
  src/cargo/core/compiler/job_queue/mod.rs
  src/cargo/core/shell.rs
  src/cargo/util/context/mod.rs
  src/cargo/util/progress.rs
  src/doc/src/reference/config.md
Labels: A-documenting-cargo-itself, A-configuration, A-build-execution, T-cargo, A-console-output, final-comment-period, disposition-merge, S-waiting-on-review

#15290 Replace unmaintained humantime crate with jiff
  Cargo.lock
  Cargo.toml
  src/bin/cargo/main.rs
  src/cargo/core/compiler/fingerprint/dirty_reason.rs
  src/cargo/core/compiler/timings.rs
Labels: A-rebuild-detection, S-waiting-on-review, A-timings, A-cli

#15294 docs(refs): Add `unsafe` to `extern` while using build scripts in Cargo Book
  src/doc/src/reference/build-script-examples.md
  src/doc/src/reference/semver.md
Labels: A-documenting-cargo-itself, S-waiting-on-review

#15291 refactor(toml): Centralize target descriptions
  src/cargo/util/toml/targets.rs
Labels: S-waiting-on-review

#15292 docs(ref): Note that target-edition is deprecated
  src/doc/src/reference/cargo-targets.md
Labels: A-documenting-cargo-itself, S-waiting-on-review

#15297 cargo vendor: Add context which workspace failed to resolve
  src/cargo/ops/vendor.rs
  tests/testsuite/vendor.rs
Labels: S-waiting-on-review, Command-vendor

#15307 Redox OS is part of the unix family
  Cargo.lock
  crates/cargo-util/src/paths.rs
  crates/home/Cargo.toml
  crates/home/src/lib.rs
Labels: A-environment-variables, S-waiting-on-review, A-home

#15310 docs(ref): Mention `x.y.*` as a kind of version requirement to avoid.
  src/doc/src/reference/specifying-dependencies.md
Labels: A-documenting-cargo-itself, S-waiting-on-review

#15234 feat(package): add --exclude-lockfile flag
  src/bin/cargo/commands/package.rs
  src/cargo/ops/cargo_package/mod.rs
  src/cargo/ops/registry/publish.rs
  src/doc/man/cargo-package.md
  src/doc/man/generated_txt/cargo-package.txt
  src/doc/src/commands/cargo-package.md
  src/etc/man/cargo-package.1
  tests/testsuite/cargo_package/help/stdout.term.svg
  tests/testsuite/package.rs
Labels: A-documenting-cargo-itself, Command-publish, A-interacts-with-crates.io, Command-package, T-cargo, finished-final-comment-period, disposition-merge, S-waiting-on-review, A-cli, A-cli-help, to-announce

#15304 docs: mention wrong URLs as a cause of git authentication errors
  src/doc/src/appendix/git-authentication.md
Labels: A-documenting-cargo-itself, S-waiting-on-review

#15314 fix: deduplicate crate types in cargo rustc command
  src/bin/cargo/commands/rustc.rs
  tests/testsuite/rustc.rs
Labels: Command-rustc, S-waiting-on-review, A-cli

#15316 chore: fix some typos
  src/cargo/core/compiler/build_context/target_info.rs
  src/cargo/sources/path.rs
  src/cargo/util/semver_eval_ext.rs
  src/doc/src/reference/config.md
Labels: A-documenting-cargo-itself, S-waiting-on-review, A-cfg-expr

#15301 feat: Add custom completer for cargo +<TAB> to complete toolchain name
  src/bin/cargo/cli.rs
Labels: S-waiting-on-review, A-cli

#15303 docs: make it clearer that `rust_version` is enforced during compile
  src/doc/src/reference/rust-version.md
Labels: A-documenting-cargo-itself, S-waiting-on-review

#15236 Added `build.build_dir` templating support
  src/cargo/core/workspace.rs
  src/cargo/util/context/mod.rs
  src/cargo/util/context/path.rs
  src/doc/src/reference/unstable.md
  tests/testsuite/build_dir.rs
Labels: A-documenting-cargo-itself, A-configuration, A-workspaces, A-testing-cargo-itself, S-waiting-on-review

#15325 test(build-std): address overly-matched snapshot
  tests/build-std/main.rs
Labels: S-waiting-on-review

#15321 fix(toml): Report '<target>.edition' deprecation to users
  src/cargo/util/toml/targets.rs
  tests/testsuite/build.rs
  tests/testsuite/freshness.rs
  tests/testsuite/freshness_checksum.rs
Labels: S-waiting-on-review

#15326 Cleanup for rustc-link-arg-cdylib
  src/doc/src/reference/build-scripts.md
  tests/testsuite/build_script_extra_link_arg.rs
Labels: A-documenting-cargo-itself, S-waiting-on-review

#15329 chore: fix some typos
  crates/resolver-tests/src/lib.rs
  src/cargo/core/compiler/future_incompat.rs
  src/cargo/core/manifest.rs
Labels: A-dependency-resolution, A-manifest, S-waiting-on-review, A-future-incompat

#15332 Fix `[env]` `relative` description in reference
  src/doc/src/reference/config.md
Labels: A-documenting-cargo-itself, S-waiting-on-review

#15322 feat: vcs, color, and message format native completion
  src/bin/cargo/cli.rs
  src/bin/cargo/commands/locate_project.rs
  src/cargo/util/command_prelude.rs
  tests/testsuite/build.rs
  tests/testsuite/cargo/help/stdout.term.svg
  tests/testsuite/cargo_add/help/stdout.term.svg
  tests/testsuite/cargo_bench/help/stdout.term.svg
  tests/testsuite/cargo_build/help/stdout.term.svg
  tests/testsuite/cargo_check/help/stdout.term.svg
  tests/testsuite/cargo_clean/help/stdout.term.svg
  tests/testsuite/cargo_config/help/stdout.term.svg
  tests/testsuite/cargo_doc/help/stdout.term.svg
  tests/testsuite/cargo_fetch/help/stdout.term.svg
  tests/testsuite/cargo_fix/help/stdout.term.svg
  tests/testsuite/cargo_generate_lockfile/help/stdout.term.svg
  tests/testsuite/cargo_help/help/stdout.term.svg
  tests/testsuite/cargo_info/help/stdout.term.svg
  tests/testsuite/cargo_init/help/stdout.term.svg
  tests/testsuite/cargo_install/help/stdout.term.svg
  tests/testsuite/cargo_locate_project/help/stdout.term.svg
  tests/testsuite/cargo_login/help/stdout.term.svg
  tests/testsuite/cargo_logout/help/stdout.term.svg
  tests/testsuite/cargo_metadata/help/stdout.term.svg
  tests/testsuite/cargo_new/help/stdout.term.svg
  tests/testsuite/cargo_owner/help/stdout.term.svg
  tests/testsuite/cargo_package/help/stdout.term.svg
  tests/testsuite/cargo_pkgid/help/stdout.term.svg
  tests/testsuite/cargo_publish/help/stdout.term.svg
  tests/testsuite/cargo_read_manifest/help/stdout.term.svg
  tests/testsuite/cargo_remove/help/stdout.term.svg
  tests/testsuite/cargo_report/help/stdout.term.svg
  tests/testsuite/cargo_run/help/stdout.term.svg
  tests/testsuite/cargo_rustc/help/stdout.term.svg
  tests/testsuite/cargo_rustdoc/help/stdout.term.svg
  tests/testsuite/cargo_search/help/stdout.term.svg
  tests/testsuite/cargo_test/help/stdout.term.svg
  tests/testsuite/cargo_tree/help/stdout.term.svg
  tests/testsuite/cargo_uninstall/help/stdout.term.svg
  tests/testsuite/cargo_update/help/stdout.term.svg
  tests/testsuite/cargo_vendor/help/stdout.term.svg
  tests/testsuite/cargo_verify_project/help/stdout.term.svg
  tests/testsuite/cargo_version/help/stdout.term.svg
  tests/testsuite/cargo_yank/help/stdout.term.svg
  tests/testsuite/locate_project.rs
Labels: Command-locate-project, S-waiting-on-review, A-cli

#15334 fix(build-dir): Renamed workspace-manifest-path-hash to workspace-path-hash
  src/cargo/util/context/mod.rs
  src/doc/src/reference/unstable.md
  tests/testsuite/build_dir.rs
Labels: A-documenting-cargo-itself, A-configuration, S-waiting-on-review

#15319 feat: Add custom completer for cargo <TAB> to complete aliases defined in config.toml
  src/bin/cargo/cli.rs
  src/cargo/util/command_prelude.rs
Labels: A-documenting-cargo-itself, A-configuration, A-workspaces, S-waiting-on-review, A-cli

#15345 Fix some issues with future-incompat report generation
  src/cargo/core/compiler/future_incompat.rs
  src/cargo/core/compiler/job_queue/mod.rs
  tests/testsuite/future_incompat_report.rs
Labels: A-build-execution, S-waiting-on-review, A-future-incompat

#15346 docs: fix typo in the "Shared cache" section
  src/doc/src/reference/build-cache.md
Labels: A-documenting-cargo-itself, S-waiting-on-review

#15348 Temporarily ignore cargo_test_doctest_xcompile_ignores
  tests/testsuite/test.rs
Labels: S-waiting-on-review

#15341 fix: revert the behavior checking lockfile's VCS status
  src/cargo/ops/cargo_package/vcs.rs
  tests/testsuite/package.rs
Labels: A-git, Command-package, S-waiting-on-review

#15317 do not pass cdylib link args to test
  src/cargo/core/compiler/build_runner/mod.rs
  src/cargo/core/compiler/custom_build.rs
  src/cargo/core/compiler/mod.rs
  tests/testsuite/build_script_extra_link_arg.rs
Labels: A-build-execution, A-build-scripts, S-waiting-on-review

#15193 Uplift windows Cygwin DLL import libraries
  src/cargo/core/compiler/build_context/target_info.rs
Labels: O-windows, S-waiting-on-review, A-cfg-expr

#15308 feat(complete): Added completion for `--profile`
  src/cargo/core/profiles.rs
  src/cargo/util/command_prelude.rs
Labels: A-profiles, S-waiting-on-review, A-cli

#15349 docs(contrib): Expand the description of team meetings
  src/doc/contrib/src/team.md
Labels: A-documenting-cargo-itself, S-waiting-on-review

#15354 fix(package): update tracking issue for `--message-format`
  src/bin/cargo/commands/package.rs
  src/doc/src/reference/unstable.md
  tests/testsuite/package_message_format.rs
Labels: A-documenting-cargo-itself, Command-package, S-waiting-on-review, A-cli

#15355 Don't canonicalize executable path in `cargo_exe`
  src/cargo/util/context/mod.rs
  tests/testsuite/build_script.rs
  tests/testsuite/cargo_command.rs
  tests/testsuite/test.rs
Labels: A-configuration, S-waiting-on-review

#15357 Revert "Temporarily ignore cargo_test_doctest_xcompile_ignores"
  tests/testsuite/test.rs
Labels: S-waiting-on-review

#15367 Rename the gc config table
  src/cargo/core/gc.rs
  src/doc/src/reference/unstable.md
  tests/testsuite/global_cache_tracker.rs
Labels: A-documenting-cargo-itself, S-waiting-on-review

#15359 feat: rustdoc depinfo rebuild detection via -Zrustdoc-depinfo
  src/cargo/core/compiler/fingerprint/mod.rs
  src/cargo/core/compiler/mod.rs
  src/cargo/core/features.rs
  src/doc/src/reference/unstable.md
  tests/testsuite/cargo/z_help/stdout.term.svg
  tests/testsuite/doc.rs
Labels: A-documenting-cargo-itself, Command-doc, A-build-execution, A-rebuild-detection, S-waiting-on-review, A-unstable

#15369 fix(tree): Make output more deterministic
  src/cargo/ops/tree/graph.rs
Labels: S-waiting-on-review, Command-tree

#15372 chore: bump to 0.89.0; update changelog
  Cargo.lock
  Cargo.toml
  src/doc/src/CHANGELOG.md
Labels: A-documenting-cargo-itself, S-waiting-on-review
