Repository rust-lang/cargo, pull requests merged in 2025-06, with the labels that each got.

#15281 Fix cargo add overwriting symlinked Cargo.toml files
  crates/cargo-util/src/paths.rs
  tests/testsuite/cargo_add/mod.rs
  tests/testsuite/cargo_add/symlink.rs
Labels: A-manifest, S-waiting-on-review

#15621 test(trim-paths): enable more tests for windows-msvc
  .github/workflows/main.yml
  crates/cargo-test-macro/src/lib.rs
  tests/testsuite/profile_trim_paths.rs
Labels: A-testing-cargo-itself, S-waiting-on-review, A-infrastructure

#15614 fix(trim-paths): remap all paths to `build.build-dir`
  src/cargo/core/compiler/mod.rs
  tests/testsuite/profile_trim_paths.rs
Labels: A-build-execution, S-waiting-on-review, Z-trim-paths

#15626 fix(package): Allow packaging of self-cycles with -Zpackage-workspace
  src/cargo/ops/cargo_package/mod.rs
  tests/testsuite/package.rs
Labels: Command-package, S-waiting-on-review

#15628 test(publish): Improvements in prep for `-Zpackage-workspace` stabilization
  tests/testsuite/publish.rs
Labels: S-waiting-on-review

#15295 cargo-credential-libsecret: load libsecret only once
  Cargo.lock
  Cargo.toml
  credential/cargo-credential-libsecret/Cargo.toml
  credential/cargo-credential-libsecret/src/lib.rs
  src/cargo/util/auth/mod.rs
Labels: S-waiting-on-review, A-credential-provider, A-registry-authentication

#15623 Add --offline for comp
  src/etc/_cargo
  src/etc/cargo.bashcomp.sh
Labels: S-waiting-on-review, A-completions

#15631 refactor: clean up `clippy::perf` lint warnings
  crates/cargo-test-support/src/paths.rs
  crates/cargo-test-support/src/publish.rs
  crates/cargo-test-support/src/registry.rs
  crates/mdman/src/format/man.rs
  crates/resolver-tests/tests/proptests.rs
  crates/resolver-tests/tests/resolve.rs
  src/cargo/core/features.rs
  src/cargo/core/manifest.rs
  src/cargo/core/package.rs
  src/cargo/core/resolver/encode.rs
  src/cargo/ops/cargo_add/mod.rs
  src/cargo/ops/cargo_install.rs
  src/cargo/ops/cargo_test.rs
  src/cargo/ops/cargo_update.rs
  src/cargo/ops/fix/mod.rs
  src/cargo/ops/registry/publish.rs
  src/cargo/sources/git/utils.rs
  src/cargo/sources/registry/download.rs
  src/cargo/sources/registry/http_remote.rs
  src/cargo/util/lints.rs
  src/cargo/util/rustc.rs
  src/cargo/util/toml/mod.rs
  src/cargo/util/toml_mut/dependency.rs
  tests/testsuite/git.rs
  tests/testsuite/inheritable_workspace_fields.rs
  tests/testsuite/install.rs
  tests/testsuite/package.rs
  tests/testsuite/update.rs
Labels: A-git, Command-test, Command-publish, Command-install, A-interacts-with-crates.io, Command-update, A-dependency-resolution, A-registries, A-manifest, A-testing-cargo-itself, Command-fix, S-waiting-on-review, A-lockfile, A-cache-messages, A-cli-help, A-unstable, Command-add, A-sparse-registry

#15632 fix(publish): Don't tell people to ctrl-c without knowing consequences
  src/cargo/ops/registry/publish.rs
  tests/testsuite/alt_registry.rs
  tests/testsuite/artifact_dep.rs
  tests/testsuite/cargo_features.rs
  tests/testsuite/credential_process.rs
  tests/testsuite/cross_publish.rs
  tests/testsuite/features_namespaced.rs
  tests/testsuite/inheritable_workspace_fields.rs
  tests/testsuite/publish.rs
  tests/testsuite/source_replacement.rs
  tests/testsuite/weak_dep_features.rs
Labels: Command-publish, A-interacts-with-crates.io, S-waiting-on-review

#15635 Update dependencies
  Cargo.lock
  Cargo.toml
Labels: S-waiting-on-review

#15633 fix(workspace): reload current manifest path member only
  src/cargo/core/workspace.rs
  tests/testsuite/workspaces.rs
Labels: A-workspaces, S-waiting-on-review

#15645 Use `Not::not` rather than a custom `is_false` function
  crates/cargo-util-schemas/src/manifest/mod.rs
  crates/crates-io/lib.rs
Labels: A-interacts-with-crates.io, A-manifest, S-waiting-on-review

#15659 highlight the correct words
  src/doc/contrib/src/index.md
Labels: A-documenting-cargo-itself, S-waiting-on-review

#15559 refactor: replace InternedString with Cow in IndexPackage
  benches/benchsuite/src/bin/capture-last-use.rs
  src/bin/cargo/commands/add.rs
  src/bin/cargo/commands/rustc.rs
  src/cargo/core/compiler/build_config.rs
  src/cargo/core/compiler/fingerprint/mod.rs
  src/cargo/core/dependency.rs
  src/cargo/core/package.rs
  src/cargo/core/package_id.rs
  src/cargo/core/profiles.rs
  src/cargo/core/resolver/features.rs
  src/cargo/core/summary.rs
  src/cargo/core/workspace.rs
  src/cargo/ops/cargo_output_metadata.rs
  src/cargo/ops/registry/info/view.rs
  src/cargo/sources/registry/index/mod.rs
  src/cargo/sources/registry/mod.rs
  src/cargo/sources/registry/remote.rs
  src/cargo/util/command_prelude.rs
  src/cargo/util/interning.rs
  src/cargo/util/rustc.rs
  src/cargo/util/sqlite.rs
  src/cargo/util/toml/mod.rs
  src/cargo/util/toml_mut/manifest.rs
  tests/testsuite/global_cache_tracker.rs
  tests/testsuite/profile_config.rs
Labels: Command-metadata, A-interacts-with-crates.io, A-crate-dependencies, Command-rustc, A-workspaces, A-profiles, A-rebuild-detection, A-dependency-resolution, A-registries, A-manifest, A-testing-cargo-itself, S-waiting-on-review, A-cli, A-cache-messages, A-features2, Command-add, Command-info

#15662 feat: Add custom completer for `cargo remove <TAB>`
  src/bin/cargo/commands/remove.rs
  src/cargo/util/command_prelude.rs
Labels: S-waiting-on-review, A-cli, Command-remove

#15674 feat: Introduce perma unstable `--compile-time-deps` option for `cargo build`
  src/bin/cargo/commands/build.rs
  src/bin/cargo/commands/check.rs
  src/cargo/core/compiler/build_config.rs
  src/cargo/core/compiler/build_runner/compilation_files.rs
  src/cargo/core/compiler/mod.rs
  src/cargo/core/compiler/standard_lib.rs
  src/cargo/core/compiler/unit.rs
  src/cargo/core/compiler/unit_dependencies.rs
  src/cargo/core/manifest.rs
  src/cargo/ops/cargo_compile/mod.rs
  src/cargo/ops/cargo_compile/unit_generator.rs
  src/cargo/util/command_prelude.rs
  src/doc/src/reference/unstable.md
  tests/testsuite/compile_time_deps.rs
  tests/testsuite/main.rs
Labels: A-documenting-cargo-itself, Command-check, A-build-execution, Command-build, A-manifest, S-waiting-on-review, A-timings, A-cli, A-cfg-expr, A-layout, A-cargo-targets, A-cli-help

#15682 docs(contrib): change clap URL to docs.rs/clap
  src/doc/contrib/src/implementation/subcommands.md
Labels: A-documenting-cargo-itself, S-waiting-on-review

#15687 Disable lldb test, which seems to be broken due to issues with lldb
  tests/testsuite/profile_trim_paths.rs
Labels: S-waiting-on-review

#15643 Plumb rustc `-Zhint-mostly-unused` flag through as a profile option
  crates/cargo-util-schemas/manifest.schema.json
  crates/cargo-util-schemas/src/manifest/mod.rs
  src/cargo/core/compiler/mod.rs
  src/cargo/core/features.rs
  src/cargo/core/profiles.rs
  src/doc/src/reference/unstable.md
  tests/testsuite/cargo/z_help/stdout.term.svg
  tests/testsuite/config.rs
  tests/testsuite/profiles.rs
Labels: A-documenting-cargo-itself, A-build-execution, A-profiles, A-manifest, S-waiting-on-review, A-unstable

#15693 test(msrv): use a far future "newer" version
  tests/testsuite/rust_version.rs
Labels: S-waiting-on-review

#15630 feat(toml): Parse support for multiple build scripts
  crates/cargo-util-schemas/manifest.schema.json
  crates/cargo-util-schemas/src/manifest/mod.rs
  src/cargo/core/features.rs
  src/cargo/ops/vendor.rs
  src/cargo/util/toml/mod.rs
  src/cargo/util/toml/targets.rs
  src/doc/src/reference/unstable.md
  tests/testsuite/bad_config.rs
  tests/testsuite/build_scripts_multiple.rs
  tests/testsuite/main.rs
  tests/testsuite/package.rs
Labels: A-documenting-cargo-itself, A-manifest, S-waiting-on-review, Command-vendor, A-unstable

#15698 Fix potential deadlock in `CacheState::lock`
  src/cargo/util/cache_lock.rs
Labels: S-waiting-on-review

#15699 [Beta-1.89] Fix potential deadlock in `CacheState::lock`
  src/cargo/util/cache_lock.rs
Labels: S-waiting-on-review

#15713 Use a different lint for the `fix_only_once_for_duplicates` test
  tests/testsuite/fix.rs
Labels: S-waiting-on-review
